<template>
<view class="heigh-fullscreen">
		<view class="relative" :style="{height: `calc(${statusBar}px + 66px)`}">
			<view class="width-100b fixed1 bj-black flex align-center justify-between padding-w-40 empty-space"
				:style="{paddingTop: statusBar + 'px', height: `calc(${statusBar}px + 66px)`}">
			   <image class="logo-50 width-70 height-70 margin-r-10" :src="require('@/static/imgs/index/logo.png')"></image>
			   <view  style="text-align: left;"class="width-65percent">
				   <span class="color-white text-size-16">123456</span> 
				   <span style="padding-left:10px" class="color-white text-size-16">ID:<span style="padding-left:10px">1000437</span></span> 
				</view>
				<view class="width-150 flex align-center justify-between">
					<image class="width-70 height-70 upload-icon margin-r-10" :src="require('@/static/imgs/index/downloadcloud.svg')"></image>
					<image class="width-70 height-70 notice-icon margin-r-10" :src="require('@/static/imgs/index/noticedfinal.svg')"></image>
				</view>
			</view>
		</view>
		
		<view @click="router.push('/pages/index/notification/notification')" class="flex align-center justify-between padding-w-40 bj-black empty-space">
			<view class="flex align-center justify-between padding-l-30 padding-r-30 noticed-backgorundhomepage">
				<view style="width: 5%;" class="">
					<image class="color-grey width-32 height-32" src="/static/imgs/index/announce.svg"></image>
				</view>
				<view style="width: 96%;" class="">
					<u-notice-bar class="flex-1" :text="text1" icon="" bg-color="#edcd52" color="#171717"
						style="">
					</u-notice-bar>
				</view>
			</view>
		</view>
		<view style="padding: 0px 20px 0px 20px;" class="devide-border "><hr></view>
		<view class="flex align-center justify-between padding-w-40 bj-black padding-empty">
			<view style="width: 50%;text-align: left;" class="flex direction-column align-left justify-center earning-tk">
					<view class="left">
						<span class="color-white"><span class="usdt">{{count_trx}} {{$store.state.curr_name}}</span></span> 
						<span class="color-white "><span class="head-title">{{$t('index1')}}</span></span> 
					</view>
			</view>
							
			<view style="width: 50%;" class="flex direction-column align-right justify-right">
				<span class="color-white right"> ≈ ${{count_trx}}</span>
			</view>
		</view>
		<view class="width-100b bj-black padding-b-50 empty-space">
			<view  class="topBox">
				<image src="https://pcft023.sgp1.digitaloceanspaces.com/oai/images/c1b89676cb564f5190457a994dea2822"></image>
			</view>

			<view class="flex align-center justify-between padding-w-40 padding-row ">
				<view @click="router.push('/pages/index/deposit/index')" class="flex direction-column align-center justify-center">
					<view class="width-100 height-50 height-50px flex align-center justify-center">
						<image class="width-90 height-35px" src="/static/imgs/index/Depositfinal.svg" mode=""></image>
					</view>
					<text class="font-30 color-white margin-t-20">{{$t('index2')}}</text>
				</view>
				<view @click="router.push('/pages/index/widthdraw/index')" class="flex direction-column align-center justify-center">
					<view class="width-100 height-50 height-50px flex align-center justify-center">
						<image class="width-90 height-35px" src="/static/imgs/index/Withdrawalfinal.svg" mode=""></image>
					</view>
					<text class="font-30 color-white margin-t-20">{{$t('index3')}}</text>
				</view>
				<view @click="router.goTabBar('/pages/share/index')" class="flex direction-column align-center justify-center">
					<view class="width-100 height-50  height-50px flex align-center justify-center">
						<image class="width-90 height-35px" src="/static/imgs/index/Helpfinal.svg" mode=""></image>
					</view>
					<text class="font-30 color-white margin-t-20">{{$t('index4')}}</text>
				</view>
				<view @click="router.push('/pages/index/invite/index')" class="flex direction-column align-center justify-center">
					<view class="width-100 height-50 height-50px flex align-center justify-center">
						<image class="width-90 height-35px" src="/static/imgs/index/Invitefinal.svg" mode=""></image>
					</view>
					<text class="font-30 color-white margin-t-20">{{$t('index5')}}</text>
				</view>
				<view @click="router.push('/pages/index/active/index')" class="flex direction-column align-center justify-center">
					<view class="width-100 height-50 height-50px flex align-center justify-center">
						<image class="width-90 height-35px" src="/static/imgs/index/Activityfinal.svg" mode=""></image>
					</view>
					<text class="font-30 color-white margin-t-20">{{$t('index6')}}</text>
				</view>
				
			</view>
		</view>
		  <view style="padding: 0px 20px 0px 20px;" class="devide-border "><hr></view>
		<view class="flex align-center justify-between padding-w-40 bj-black">
			<view style="width: 50%;text-align: left;" >
				<view class="section-tag"></view>
				<span class="fontsize-14">{{$t('index7')}}</span>
			</view>
			<view style="width: 50%;text-align: right;">
				<image class="about-us-image" src="/static/imgs/index/about.png" mode=""></image>
			</view>
		</view>	
	<view style="padding: 20px 15px 0px 15px;" class="bj-black">
		 <view  @click="router.push('/pages/robot/index')"  class="backgorund-robot flex align-center ">
			 <view style="width: 18.33%;padding-right: 7px;" class="flex direction-column align-left justify-center">
			 		<view class="left">
			 			<image class="width45px height45px" src="/static/imgs/index/ethcoin.png"></image>
			 		</view>
			 </view>
			 				
			 <view style="width: 43.33%;text-align: left;line-height: 25px" class="flex direction-column align-left justify-left">
			 	<span class="color-white right fontsize-16">{{$t('index8')}}
				</span>
				<span style="color: #888;" class="">{{$t('index9')}}</span>
			 </view>
			 <view style="width: 33.33%;" class="flex direction-column align-left justify-left robot">
			 	<span class="color-white right">	<image class="arrowright" src="/static/imgs/arrow-right-icon.png" mode=""></image></span>
			 </view>
		</view>			
	</view>
		
		<view style="padding: 15px;" class="bj-black">
			<view style="    padding-bottom: 57px;" class="backgorund-robot">
				<view style="width: 100vw; " class="flex align-center justify-between text-align-center">
					<view class="flex-1 height-100 margin-w-20 flex direction-column align-start justify-between text-align-center" v-for="(item,index) in cionlist" :key="index">
						<text class="color-white fontsize-16">{{item.name}}</text>
						<text :class="item.increase>0?'color-45CB6B':'color-F95D43'" class="font-28 bold-font">{{item.usdt}}</text>
						
						<text class="font-24 color-ADADAD">{{(item.increase*100 ).toFixed(2)}}%</text>
						<view>
							<image :class="item.increase>0?'image-45CB6B':'image-F95D43'" class="amplitude-img"></image>
						</view>
						
					</view>
					
				</view>
				
			</view>
			
		</view>
		      <view class="bj-black">
				  
				  <view class="flex align-center justify-between padding-w-40 bj-black">
				  	<view style="width: 50%;text-align: left;" >
				  		<view class="section-tag"></view>
				  		<span class="fontsize-14">{{$t('index10')}}</span>
				  	</view>
				  	<view  @click="router.push('/pages/robot/list')" style="width: 50%;text-align: right;">
						<span  style= "color: #888;">{{$t('index18')}} </span>
				  		<image class="arrowright" src="/static/imgs/arrow-right-icon.png" mode=""></image>
				  	</view>
				  </view>	
		<view style="padding: 15px;" class="bj-black">
			 <view style=" padding: 5px 15px;" class="backgorund-robot flex align-center ">
				 <view style="width: 10%;text-align: left;" class="flex direction-column align-left justify-center">
				 		<view class="left">
				 			<image class="width20px" src="/static/imgs/index/ethcoin.png"></image>
				 		</view>
				 </view>
				 				
				 <view style="width:90%;text-align: left;line-height: 25px" class="flex direction-column align-left justify-left">
				 	<span class="color-white right fontsize-13 color-white">{{$t('index11')}}0/0
					</span>
			</view>			
		</view>
		<carousel :img-list="imgList" url-key="url" @selected="selectedBanner"/>
			
	 </view>
		     
		  
		<view class="partner-homepage bj-black">
				<view style="width: 50%;text-align: left;" >
						<view class="section-tag"></view>
						<span class="fontsize-14">{{$t('index12')}}</span>
				</view>
					<view class="wrapper">
						   <view class="item">
							 <u-image width="62" height="10" src="/static/imgs/makert/binance.png"></u-image>
						   </view>
						   <view class="item">
							 <u-image width="62" height="10" src="/static/imgs/makert/bitfinex.png"></u-image>
						   </view>
						  <view class="item">
							 <u-image width="62" height="10" src="/static/imgs/makert/coinbase.png"></u-image>
						   </view>
						   <view class="item">
								<u-image width="62" height="10" src="/static/imgs/makert/ff3889824e294c99abbd7e65f80a91ec.png"></u-image>
							</view>
							<view class="item">
								 <u-image width="62" height="10" src="/static/imgs/makert/gate.io.png"></u-image>
							</view>
							<view class="item">
								 <u-image width="62" height="10" src="/static/imgs/makert/imtoken.png"></u-image>
							 </view>
							 <view class="item">
								<u-image width="62" height="10" src="/static/imgs/makert/poloniex.png"></u-image>
							 </view>
				  
					</view>
				</view>	
				

		</view>
	</view>	
  </view>
		 
</view>


</template>

<script>

	import carousel from '@/components/vear-carousel/vear-carousel'
	export default {
		components: {
			carousel,
		},
		data() {
			return {
				show:false,
				content:'',
				statusBar: uni.getSystemInfoSync().statusBarHeight,
				text1: '',
				cionlist:[],
				count_trx:0,
				count_yj:0,
				count_user:0,
				guanyu_us:'',
				imgList: [{
					idpro: 'Robot No 1',
					icon: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/823e8596110f40ba80bf6d984370be61',
					title: 'Robot Performance',
					price: '2.00USDT ≈ Tk160.00',
					amount: '30.00USDT ≈ Tk2,400.00',
					term: '30Day',
					btn: 'Buy',
					id: 1
				},{
					idpro: 'Robot No 2',
					icon: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/823e8596110f40ba80bf6d984370be61',
					title: 'Robot Performance',
					price: '2.00USDT ≈ Tk160.00',
					amount: '30.00USDT ≈ Tk2,400.00',
					term: '30Day',
					btn: 'Buy',
					id: 2
				},{
					idpro: 'Robot No 3',
					icon: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/823e8596110f40ba80bf6d984370be61',
					title: 'Robot Performance',
					price: '2.00USDT ≈ Tk160.00',
					amount: '30.00USDT ≈ Tk2,400.00',
					term: '30Day',
					btn: 'Buy',
					id: 3
				},{
					idpro: 'Robot No 4',
					icon: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/823e8596110f40ba80bf6d984370be61',
					title: 'Robot Performance',
					price: '2.00USDT ≈ Tk160.00',
					amount: '30.00USDT ≈ Tk2,400.00',
					term: '30Day',
					btn: 'Buy',
					id: 4
				}]
			}	
		},
		onReady()
		{},
		onLoad() {
			this.get_agreement()
		},
		onShow() {
			uni.setTabBarItem({
				index: 0,
				text: this.$t('tabBar1')
			});
			uni.setTabBarItem({
				index: 1,
				text: this.$t('tabBar2')
			});
			uni.setTabBarItem({
				index: 2,
				text: this.$t('tabBar3')
			});
			uni.setTabBarItem({
				index: 3,
				text: this.$t('tabBar4')
			});
			this.show = true
			this.int()
			this.get_hot_coin()
		},
		methods: {	
			get_agreement(){
				this.post('/publics/text_info').then((res) => {
					console.log('',res)
					if (res.code == 1) {
						this.content = res.data.index_wind
					}
				})
			},
			int(){
				this.post('/index/index_wallet').then((res) => {
					if (res.code == 1) {
						this.text1 = res.data.message.title
						this.count_trx = res.data.count_trx
						this.count_yj = res.data.count_yj
						this.count_user = res.data.count_user
						this.guanyu_us = res.data.guanyu_us
					}
				})
			},
			get_hot_coin(){
				this.post('/index/get_hot_coin').then((res) => {
					if (res.code == 1) {
						this.cionlist = res.data
					}
				})
			},
			// logout(){
			// 	uni.showLoading()
			// 	this.post('/user/logout').then((res) => {
			// 		uni.hideLoading()
			// 		if (res.code == 1) {
			// 			uni.removeStorageSync('token');
			// 			uni.removeStorageSync('userinfo');
			// 			this.tos(res.msg)
			// 			setTimeout(() => {
			// 				uni.reLaunch({
			// 					url: '/pages/login/index'
			// 				})
			// 			}, 500)
			// 		}
			// 	})
			// }
		}
	}
</script>

<style lang="scss">
	.fixed1 {
		position: fixed;
		top: 0rpx;
		z-index: 10010;
	}
	.topBox
	{
		padding-left: 40upx;
		padding-right: 40upx;
	}
	.topBox image {
		width: 100%;
		height: 340upx;
		object-fit: cover;
		border-radius: 5px;
	}
	.bottomBox {
		width: 670rpx;
		height: 283rpx;
		padding: 24rpx 40rpx;
		margin: 0rpx auto;
		background: linear-gradient(270deg, #FFECF5 0%, #FFFFFF 100%);
		border-radius: 28rpx 28rpx 28rpx 28rpx;
	}
	.swipers-view {
		height: 420upx;
	}
 
	.swipers-best-hot-video {
		height: 90upx;
		line-height: 90upx;
		color: #f8f3bf;
		font-size: 36upx;
		text-align: center;
	}
	.swipers-image-view {
		height: 100%;
		position: relative;
		z-index: 1;
	}
 
	.swipers-image {
		width: 100%;
		height: 100%;
	}
	.swipers-image-view .swipers-title {
		position: absolute;
		z-index: 99;
		left: 25upx;
		bottom: 105upx;
		font-size: 24upx;
		font-weight: bold;
 
		color: #fff;
		font-size: 36upx;
	}
	/*用来包裹所有的小圆点  */
	.swipers-dots {
		width: 100%;
		height: 50upx;
		display: flex;
		flex-direction: row;
		position: absolute;
		left: 0;
		bottom: 0upx;
		/* border:1upx solid red; */
		display: flex;
		justify-content: center;
		align-items: center;
		/* border:1rpx solid green; */
	}
	/*未选中时的小圆点样式 */
	.dot {
		width: 6px;
		height: 2upx;
		width: 55upx;
		background-color: #999;
		margin: 0 10upx;
		/* border:1upx solid red; */
	}
 
	/*选中以后的小圆点样式  */
	.dot.active {
		height: 2upx;
		width: 80upx;
		background-color: #fff;
		margin: 0 10upx;
	}
.swipers-view {
			height: 420upx;
		}
	 
		.swipers-best-hot-video {
			height: 90upx;
			line-height: 90upx;
			color: #f8f3bf;
			font-size: 36upx;
			text-align: center;
		}
	 
		.swipers-image-view {
			height: 100%;
			position: relative;
			z-index: 1;
		}
	 
		.swipers-image {
			width: 100%;
			height: 100%;
		}
	 
	 
		.swipers-image-view .swipers-title {
			position: absolute;
			z-index: 99;
			left: 25upx;
			bottom: 105upx;
			font-size: 24upx;
			font-weight: bold;
	 
			color: #fff;
			font-size: 36upx;
		}
	 
		/*用来包裹所有的小圆点  */
		.swipers-dots {
			width: 100%;
			height: 50upx;
			display: flex;
			flex-direction: row;
			position: absolute;
			left: 0;
			bottom: 0upx;
			/* border:1upx solid red; */
			display: flex;
			justify-content: center;
			align-items: center;
			/* border:1rpx solid green; */
		}
	 
		/*未选中时的小圆点样式 */
		.dot {
			width: 6px;
			height: 2upx;
			width: 55upx;
			background-color: #999;
			margin: 0 10upx;
			/* border:1upx solid red; */
		}
	 
		/*选中以后的小圆点样式  */
		.dot.active {
			height: 2upx;
			width: 80upx;
			background-color: #fff;
			margin: 0 10upx;
		}
		.section-tag {
		    width: 5px;
		    height: 5px;
		    background: #edcd52;
		    border-radius: 50%;
			margin: 7px 7px 0px 0px;
			float: left;
		}
		.wrapper {
		    width: 100%;
		    overflow-x: scroll;
		    white-space: nowrap;
		    float: left;
		    position: relative;
		    padding-bottom: 15px;
		    padding-top: 15px;
		}
		
		.item {
			display: inline-block;
		     /* flex: 1; */
		     /* display: flex; */
		     /* flex-direction: column; */
		     /* align-items: center; */
		     /* justify-content: center; */
		     padding: 12px;
		     /* margin-bottom: 0.5rem; */
		     background-color: #2a2c2e;
		     height: -1.2rem;
		     margin-left: 5px;
			 border-radius: 5px;
		 
		}
		.item > u-image
		{
				width: 120px;
				height: 20px;
			    padding: 0px 6px;
			    height: auto!important;
			    object-fit: contain!important;
		}
		.image-45CB6B
		{
			background-image: url(../../static/imgs/index/risechart.svg);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.image-F95D43
		{
			background-image: url(../../static/imgs/index/fallchart.svg);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.amplitude-img{
		    width: 70px;
		    height: 31px;
			margin-top: 15px;
		}
		.content
		{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.content-pop
		{
			width:100vw;
			height: 50vh;
			background: #ffffff;
			border-radius: 25upx 25upx 0 0;
		}
</style>
