<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
			if (uni.getStorageSync('token') == '') {
				uni.reLaunch({
					url:'/pages/login/index'
				})
			}
			// getApp().globalData.data = 'data'
			
			var language = uni.getStorageSync('language')
			if (language) {
				this.$i18n.locale = language
			}else{
				uni.setStorageSync('language','en-us')
				this.$i18n.locale = 'en-us'
			}
			// 全局获得币种名字
			this.post('/index/get_curr').then(res => {
				if (res.code == 1) {
					this.$store.state.curr_name = res.data.curr_name
				}
			})
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		},
		globalData:{
			data:"",
		}
	}
</script>

<style lang="scss">
	/*每个页面公共css */
	@import "uview-ui/index.scss";
	
	@import "colorui/main.css";
	@import "colorui/icon.css";
	@import "/colorui/animation.css";
	@import '/static/css/main.css';
	page{
		background-color: #FFFFFF;
		font-family: "Medium" !important;
		font-style: normal;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
	// 引入字体
	@font-face {
		font-family:'Bold';
		src:url('~@/static/fonts/DIN-Bold.otf');
	}
	@font-face {
		font-family:'Medium';
		src:url('~@/static/fonts/DIN-Medium.otf');
	}
	.bold-font {
		font-family: "Bold" !important;
		font-style: normal;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
	.medium-font {
		font-family: "Medium" !important;
		font-style: normal;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
</style>
