<template>
	<swiper class="image-container" previous-margin="45rpx" next-margin="45rpx" circular :autoplay="false" @change="swiperChange">
		<swiper-item :class="currentIndex == index ? 'swiper-item' : 'swiper-item-side'" v-for="(item, index) in imgList" :key="item[urlKey]">
			<view @click="clickImg(item)" :class="currentIndex == index ? 'item-img' : 'item-img-side'"  lazy-load :style="dontFirstAnimation ? 'animation: none;' : ''" mode="aspectFill">
				<view>
					<image :src="item.icon" class="width-31px height-31px float-left"></image> 
					<span style="float: right;position: relative;top: 7px;color: #fff;">{{item.idpro}} </span>
				
					<text style="position: relative;top: 8px;left: 9px">{{item.title}}</text><br/>
					<view style="padding: 22px 0px; color:#fff;">
						<text>Price 			: {{item.price}}</text><br/>
						<text>Activation Amount : {{item.amount}}</text><br/>
						<text>Term of validity  : {{item.term}}</text>
						<!-- <button @click="open" class="addon">{{item.btn}}</button>
						<uni-popup ref="popup" type="center" background-color="#2a2c2e">
							<view style="font-size: 15px; color: #edcd52;" class="title-modal">Account Type</view>
							<view>
								<button @click="router.push('/pages/assets/account/otheraccount')">Other Account</button>
								<button @click="router.push('/pages/assets/account/bind-wallet')">Wallet Account</button>
								<button @click="router.push('/pages/assets/account/bind-bank')">Bank Account</button>
								<button @click="close">Cancel</button>
							</view>
						</uni-popup> -->
						</view>
					</view>
				</view>
			</view>
			<view>
				
		
		
			</view>
		</swiper-item>
	</swiper>
</template>
<script>


	export default {
		props: {
			imgList: {
				type: Array,
				default() {
					return []
				}
			},
			urlKey: {
				type: String,
				default() {
					return ''
				}
			},
		},
		data() {
			return {
				currentIndex: 0,
				dontFirstAnimation: true
			}
		},
		methods: {
		   open:function(){
	       this.$refs.popup[0].open('center')
	     },
			swiperChange(e) {
				this.dontFirstAnimation = false
				this.currentIndex = e.detail.current
			},
			clickImg(item) {
				this.$emit('selected', item, this.currentIndex)
			}
		}
	}
</script>
<style scoped>
	.float-left
	{
		float: left;
	}
	.width-31px 
	{
		width: 31px;
	}
	.height-31px
	{
		height: 31px;
	}
	.image-container {
		width: 750rpx;
		height: 350rpx;
	}

	.item-img {
		width: 630rpx;
		height: 300rpx;
		border-radius: 14rpx;
		animation: to-big 700ms;
		background: linear-gradient(165deg,#ffd959,rgba(255,217,89,0));
		border-radius: 0.26667rem;
		padding: 15px;
		
		
	}

	.swiper-item {
		width: 630rpx;
		height: 300rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 100%;
	}
	.item-img-side {
		width: 630rpx;
		height: 260rpx;
		border-radius: 14rpx;
		animation: to-mini 700ms;
		background: linear-gradient(165deg,#ffd959,rgba(255,217,89,0));
		border-radius: 0.26667rem;

	}

	.swiper-item-side {
		width: 630rpx;
		height: 260rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	@keyframes to-mini
	{
		from {
			height: 300rpx;
		}
		to {
			height: 260rpx;
		}
	}
	@keyframes to-big
	{
		from {
			height: 260rpx;
		}
		to {
			height: 300rpx;
		}
	}
	.content-pop
	{
		width:100vw;
		height: 100vh;
		background: #ffffff;
	
	}
	.addon
	{
		background: #f8d976;
		    width: 20%;
		    font-size: 13px;
	}
</style>