<template>
	<view>
		<myNav :title="$t('agreement')"></myNav>
		
		<view class="padding-30" v-html="content">
			
		</view>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				content:'',
			};
		},
		onLoad() {
			this.get_agreement()
		},
		methods:{
			get_agreement(){
				this.post('/publics/text_info').then((res) => {
					console.log('',res)
					if (res.code == 1) {
						this.content = res.data.agreement
					}
				})
			},
		}
	}
</script>

<style lang="scss">
</style>
