<template>
	<view class="">
		<myNav :title="$t('login5')"></myNav>
		
		<view class="padding-w-75 margin-t-24">
			<view class="margin-b-32">
				<p class="font-30 color-white">{{$t('login1')}}</p>
				<view class="bj-FAFAFA margin-t-20">
					<input class="flex-1 line-height-96 font-26 padding-w-20" type="text" v-model="account" :placeholder="$t('login2')" placeholder-class="color-ADADAD"/>
				</view>
			</view>
			<view class="margin-b-32">
				<p class="font-30 color-white">{{$t('login14')}}</p>
				<view class=" bj-FAFAFA margin-t-20 padding-w-20 flex align-center justify-between">
					<input class=" line-height-96 font-26" type="number" v-model="code" :placeholder="$t('login15')" placeholder-class="color-ADADAD"/>
					<view @click="cutTime()" class="codeBox">{{codeText}}</view>
				</view>
			</view>
			<view class="margin-b-32">
				<p class="font-30 color-white">{{$t('login17')}}</p>
				<view class="bj-FAFAFA margin-t-20">
					<input class="flex-1 line-height-96 font-26 padding-w-20" type="text" v-model="pwd1" :placeholder="$t('login18')" password placeholder-class="color-ADADAD"/>
				</view>
			</view>
			<view class="margin-b-32">
				<p class="font-30 color-white">{{$t('login26')}}</p>
				<view class="bj-FAFAFA margin-t-20">
					<input class="flex-1 line-height-96 font-26 padding-w-20" type="text" v-model="pwd2" :placeholder="$t('login27')" password placeholder-class="color-ADADAD"/>
				</view>
			</view>
		</view>
		
		<view class="bottomBox">
			<button @click="getRegister()" type="default" class="cu-btn loginBtn" style="
		background: linear-gradient(269deg, #efb601 0%, #efb601 100%);color: #000;">{{$t('login25')}}</button>
		</view>
		
		<view class="bottomImg">
			<image class="width-650 height-100b" src="/static/imgs/login/loginBg@2x.png" mode=""></image>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				account:'',
				code:'',
				pwd1:'',
				pwd2:'',
				
				flag: true,
				time: '',
				timeFlag: true,
			}
		},
		computed: {
			codeText() {
				if (this.time > 0) {
					return this.time + " s"
				} else {
					return this.$t('login16')
				}
			}
		},
		methods: {
			getRegister() {
				if (!this.flag) return
				if (this.account=='') return this.tos(this.$t('login2'))
				if (this.code == '') return this.tos(this.$t('login15'))
				if (this.pwd1 == '') return this.tos(this.$t('login18'))
				if (this.pwd1 != this.pwd2) return this.tos(this.$t('login24'))
				this.flag = false
				this.post('/user/resetpwd', {
					email: this.account,
					newpassword: this.pwd2,
					captcha: this.code,
				},true).then(res => {
					this.flag = true
					if (res.code == 1) {
						this.tos(res.msg)
						setTimeout(()=>{
							uni.navigateBack()
						},500)
					}
				})
			},
			// 发送验证码
			cutTime() {
				if (!this.timeFlag) return
				if (this.account=='') return this.tos(this.$t('login2'))
					this.timeFlag = false
					this.post('ems/send', {
						email: this.account,
						event: "resetpwd",
					},true).then(res => {
						if (res.code == 1) {
							this.tos(res.msg)
							this.time = 60
							var that = this
							let timeName = setInterval(() => {
								if (that.time > 0) {
									that.time--
								} else {
									that.time = 0
									that.timeFlag = true
									clearInterval(timeName)
								}
							}, 1000)
						} else {
							this.timeFlag = true
						}
					})
			},
		}
	}
</script>

<style lang="scss">
	.bottomBox{
		padding: 0 75rpx;
		width: 100%;
		height: 96rpx;
		position: absolute;
		bottom: 80rpx;
		left: 0rpx;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 100;
	}
	.bottomImg{
		width: 100%;
		height: 860rpx;
		position: absolute;
		bottom: 0rpx;
		left: 0rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -1;
	}
	.codeBox{
		// width: 150rpx;
		padding: 0 18rpx;
		height: 60rpx;
		background: linear-gradient(180deg, #efb601 0%, #efb601 100%);
		border-radius: 16rpx;
		line-height: 60rpx;
		font-size: 26rpx;
		color: #000;
	}
	.loginBtn{
		width: 600rpx;
		height: 96rpx;
		border-radius: 10upx;
		box-shadow: 0rpx 4rpx 30rpx 1rpx rgba(244, 138, 169, 0.2);
		font-size: 28rpx;
	}
	.bj-FAFAFA
	{
		    padding: 10px 0px 5px 0px;
		    border-bottom: 1px solid#3e3e3e;
		
	}
	input
	{
		color:#fff7f7ba!important;
		height: 40px!important;
	}
</style>
