<template>
	<view class="">
		<myNav :black="false" isRight :righturl="$t('logo')" @Jump="router.push('/pages/assets/setting/lang')"></myNav>
		
		<view class="flex align-center justify-between padding-w-40 padding-row avatar">
			<view  style="width: 100%;" class="flex direction-column align-center justify-center avatar_content">
				<image class="width-100px height-100px radiu-34 margin-b-10" src="/static/imgs/index/ethcoin.png" mode=""></image>
			</view>
		</view>
		
		<view class="padding-w-75">
			<view class="margin-b-32">
				<p class="font-28 color-white">{{$t('login1')}}</p>
				<view class="bj-FAFAFA margin-t-10">
					<input class="flex-1  line-height-96 font-30 padding-w-20" type="text" v-model="account" :placeholder="$t('login2')" placeholder-style="color:#808080"/>
				</view>
			</view>
			<view class="">
				<p class="font-30 color-white">{{$t('login3')}}</p>
				<view class="bj-FAFAFA margin-t-10">
				<view style="width: 100%;" class=" border-bottom-custom flex align-center justify-between">
								<view class="flex direction-column align-left justify-left text-align-left width-100percent">
									<!-- <p class="font-28 color-white">{{$t('login3')}}</p> -->
									<view  class="input-acc">
										<view class="input-item">
											<input class="flex-1  line-height-96 font-26 padding-w-20" type="password" v-if="isShow" v-model="password" :placeholder="$t('login4')" placeholder-style="color:#808080" @input="hidePassword" :value="oldpassword" maxlength="16" />
											<input class="flex-1  line-height-96 font-26 padding-w-20" type="text" v-else v-model="password" :placeholder="$t('login4')" placeholder-style="color:#808080" @input="password" :value="password" maxlength="16" />
										</view>
									  
									</view>
								</view>
				     
				       <view  class="see flex direction-column align-center justify-center">
							<image :src="isShow?'../../static/imgs/asset/noopen.png':'../../static/imgs/asset/openeye.png'" @tap="showPassword" mode="aspectFit" style="width:40rpx;height:40rpx"></image>
				       
						</view>  
					</view>
						
				</view>
			</view>
			<view class="flex align-center justify-end margin-t-20">
				<text style="color:#fff7f7ba" @click="router.push('/pages/login/forget')" class="font-28">{{$t('login5')}}？</text>
			</view>
		</view>
		
		<view class="padding-w-75 margin-t-100 height-230 flex direction-column justify-between">
			<button @click="login" type="default" class="cu-btn loginBtn" style="
background: linear-gradient(269deg, #efb601 0%, #efb601 100%);color: #000;font-weight: 500;font-size: 16px;">{{$t('login6')}}</button>
			<button @click="router.push('/pages/login/register')" type="default" class="cu-btn" style="background-color:transparent;">
				<text class="color-white">{{$t('login7')}}？<span class="color-efb601">{{$t('login8')}}</span></text>
			</button>
		</view>
		
		<view class="bottomBox">
			<view class="flex align-center text-center" style="max-width: 600rpx;">
				<image @click="ifagree=!ifagree" class="width-40 height-40 margin-r-10" :src="ifagree?'/static/imgs/login/okay.png':'/static/imgs/login/weixuan@2x.png'" mode=""></image>
				<text @click="router.push('/pages/login/agreement?type=privacy')" class="font-24 color-white"> {{$t('login9')}} <span class="color-efb601">【{{$t('login10')}}】</span>{{$t('login11')}}<span class="color-efb601">【{{$t('login12')}}】</span></text>
			</view>
		</view>
		
		<view class="bottomImg">
			<image class="width-650 height-100b" src="/static/imgs/login/loginBg@2x.png" mode=""></image>
		</view>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				isShow: true,
				ifagree:false,
				account:'',
				password:'',
				inputType: "password",
				password: "",
				
				flag:true,
				logo:''
			}
		},
		onShow() {
			this.int()
		},
		methods: {
			int(){
				this.post('/publics/logo').then(res => {
					if (res.code == 1) {
						this.logo = res.data.logo
					}
				})
			},
			//enter  new password
			                    password(e){
			                        this.password = e.detail.value;
			                        // this.$apply();
			                    },
			                    //enter password
			                    hidePassword(e){
			                        this.password = e.detail.value;
			                        // this.$apply();
			                    },
			                    // Click the little eye icon to switch
			                    showPassword(){
			                        if(this.isShow){
			                            this.isShow = false;
			                            this.inputType = "text";
			                            this.$apply();
			                        }else{
			                            this.isShow = true;
			                            this.inputType = "password";
			                            this.$apply();
			                        }
			},
			login(){
				if (!this.flag) return
				if (this.account=='') return this.tos(this.$t('login2'))
				if (this.password == '') return this.tos(this.$t('login4'))
				if (this.ifagree == false) return this.tos(this.$t('logintos1'))
				this.flag = false
				this.post('/user/login',{
					email: this.account,
					password: this.password,
				},true).then(res => {
					this.flag = true
					if (res.code == 1) {
						uni.setStorageSync("token", res.data.userinfo.token)
						uni.setStorageSync("userinfo", res.data.userinfo)
						
						uni.switchTab({
							url:'/pages/index/index'
						})
					}
				})
			},
		}
	}
</script>

<style lang="scss">
	.bottomBox {
		width: 750rpx;
		padding: 20rpx 30rpx;
		position: fixed;
		bottom: 20rpx;
		// text-align: center;
		color: #9CC2E5;
		display: flex;
		// align-items: center;
		align-items: stretch;
		justify-content: center;
	}
	.bottomImg{
		width: 100%;
		height: 860rpx;
		position: absolute;
		bottom: 0rpx;
		left: 0rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -1;
	}
	.loginBtn{
		width: 600rpx;
		height: 96rpx;
		border-radius: 10upx;
		box-shadow: 0rpx 4rpx 30rpx 1rpx rgba(244, 138, 169, 0.2);
		font-size: 28rpx;
	}
	.bj-FAFAFA
	{
		    padding: 10px 0px 5px 0px;
		    border-bottom: 1px solid#3e3e3e;
		
	}
	input
	{
		color:#fff7f7ba!important;
		height: 40px!important;
	}
	.width-100px
	{
		width: 100px;
	}
	.height-100px
	{
		height: 100px;
	}

</style>
