<template>
	<view class="">
		<myNav :title="$t('login13')"></myNav>
		
		<view class="padding-w-75 margin-t-24">
			<view class="margin-b-32">
				<p class="font-30 color-white">{{$t('login1')}}</p>
				<view class="bj-FAFAFA">
					<input class="flex-1 line-height-96 font-26 padding-w-20" type="text" v-model="account" :placeholder="$t('login2')" placeholder-class="color-ADADAD"/>
				</view>
			</view>
			<view v-if="ifshowCode" class="margin-b-32">
				<p class="font-28 color-white">{{$t('login14')}}</p>
				<view class="bj-FAFAFA padding-w-20 flex align-center justify-between">
					<input class="line-height-96 font-26" type="number" v-model="code" :placeholder="$t('login15')" placeholder-class="color-ADADAD"/>
					<view @click="cutTime()" class="codeBox">{{codeText}}</view>
				</view>
			</view>
			<view class="margin-b-32">
				<p class="font-30 color-white">{{$t('login17')}}</p>
				<view class="bj-FAFAFA">
					<input class="flex-1 line-height-96 font-26 padding-w-20" type="text" v-model="password" :placeholder="$t('login18')" password placeholder-class="color-ADADAD"/>
				</view>
			</view>
			<view class="margin-b-32">
				<p class="font-30 color-white">{{$t('login22')}}</p>
				<view class="bj-FAFAFA">
					<input class="flex-1 line-height-96 font-26 padding-w-20" type="number" v-model="pay_pwd" :placeholder="$t('login23')" password placeholder-class="color-ADADAD"/>
				</view>
			</view>
			<view class="">
				<p class="font-30 color-white">{{$t('login19')}}</p>
				<view class="bj-FAFAFA">
					<input class="flex-1 line-height-96 font-26 padding-w-20" type="text" v-model="referral" :placeholder="$t('login20')" placeholder-class="color-ADADAD"/>
				</view>
			</view>
		</view>
		
		<view class="padding-w-75 margin-t-100 height-230 flex direction-column justify-between">
					<button @click="getRegister()" type="default" class="cu-btn loginBtn" style="
		background: linear-gradient(269deg, #efb601 0%, #efb601 100%);color: #000;font-size:16px;">{{$t('login13')}}</button>
					<button @click="router.goBack()" type="default" class="cu-btn" style="background-color: transparent;">
						<text class="color-white">{{$t('login21')}}？<span class="color-efb601 font-30">{{$t('login')}}</span></text>
					</button>
				</view>
		
		<view class="bottomImg">
			<image class="width-650 height-100b" src="/static/imgs/login/loginBg@2x.png" mode=""></image>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				account:'',
				password:'',
				pay_pwd:'',
				code:'',
				referral:'',
				
				flag: true,
				time: '',
				timeFlag: true,
				
				ifshowCode:true
			}
		},
		computed: {
			codeText() {
				if (this.time > 0) {
					return this.time + " s"
				} else {
					return this.$t('login16')
				}
			}
		},
		onLoad() {
			this.get_agreement()
		},
		methods: {
			get_agreement(){
				this.post('/publics/text_info').then((res) => {
					console.log('',res)
					if (res.code == 1) {
						this.ifshowCode = res.data.is_email
					}
				})
			},
			getRegister() {
				if (!this.flag) return
				if (this.account=='') return this.tos(this.$t('login2'))
				if (this.ifshowCode && this.code == '') return this.tos(this.$t('login15'))
				
				if (this.password == '') return this.tos(this.$t('login18'))
				if (this.pay_pwd == '') return this.tos(this.$t('login23'))
				this.flag = false
				this.post('/user/register', {
					email: this.account,
					password: this.password,
					pay_pwd: this.pay_pwd,
					code: this.code,
					referral_code: this.referral
				},true).then(res => {
					this.flag = true
					if (res.code == 1) {
						this.tos(res.msg)
						setTimeout(()=>{
							uni.navigateBack()
						},500)
					}
				})
			},
			// 发送验证码
			cutTime() {
				if (!this.timeFlag) return
				if (this.account=='') return this.tos(this.$t('login2'))
					this.timeFlag = false
					this.post('/ems/send', {
						email: this.account,
						event: "register",
					},true).then(res => {
						if (res.code == 1) {
							this.tos(res.msg)
							this.time = 60
							var that = this
							let timeName = setInterval(() => {
								if (that.time > 0) {
									that.time--
								} else {
									that.time = 0
									that.timeFlag = true
									clearInterval(timeName)
								}
							}, 1000)
						} else {
							this.timeFlag = true
						}
					})
			},
		}
	}
</script>

<style lang="scss">
	.bottomImg{
		width: 100%;
		height: 860rpx;
		position: absolute;
		bottom: 0rpx;
		left: 0rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -1;
	}
	.codeBox{
		// width: 150rpx;
		padding: 0 18rpx;
		height: 60rpx;
		background: linear-gradient(180deg, #FF97A9 0%, #FF668E 100%);
		border-radius: 16rpx;
		line-height: 60rpx;
		font-size: 26rpx;
		color: #FFFFFF;
	}
	.loginBtn{
		width: 600rpx;
		height: 96rpx;
		border-radius: 10upx;
		box-shadow: none!important;
		font-size: 28rpx;
	}
	.bj-FAFAFA
	{
		    padding: 10px 0px 5px 0px;
		    border-bottom: 1px solid#3e3e3e;
		
	}
input
	{
		color:#fff7f7ba!important;
		height: 40px!important;
	}
</style>
