<template> 
    <view class="bj-black heigh-fullscreen"> 
	 <myNav :title="$t('team9')"></myNav>
				
        <view>
			<u-tabs-swiper ref="uTabs" :list="list" :current="current" @change="tabsChange" :is-scroll="false"
			    swiperWidth="750" gutter= "30" class="background-tab"></u-tabs-swiper> 
			<swiper :current="swiperCurrent" @transition="transition" @animationfinish="animationfinish"> 
			    <swiper-item class="swiper-item" v-for="( item, index) in tabs" :key="index"> 
			        <scroll-view scroll-y style="height:300px;width: 100%;" @scrolltolower="onreachBottom"> 
			           	<u-image width="156px" height="150px" src="/static/imgs/share/empty-image-default.png"></u-image>
			        </scroll-view>
			    </swiper-item> 
			</swiper>
		</view>
    </view> 
</template> 

<script> 
    export default { 
        data() {
            return { 
                list: [{ 
                    name: 'Inactivated',
                }, { 
                    name: 'Running' 
                }, { 
                    name: 'Stopping' 
                }, { 
                    name: 'Completed' 
                }], 
                tabs : [{ 
                    name: 'Inactivated' 
                }, { 
                    name: 'Running' 
                }, { 
                    name: 'Stopping' 
                }, { 
                    name: 'Completed' 
                }],
                // Due to the limitation of the internal sliding mechanism, please assign the current of the tabs component and the swiper component to different variables 
                current: 0, // The current value of the tabs component represents the currently active tab option 
                swiperCurrent: 0, // The current of the swiper component Value, indicating that the current swiper-item is active 
            } 
        }, 
        methods: { 
            // tabs notifies swiper to switch 
            tabsChange(index) { 
                this.swiperCurrent = index; 
            }, 
            // swiper-item moves left and right, notifying the slider of tabs to follow Move 
            transition(e) { 
                let dx = e.detail.dx; 
                this.$refs.uTabs.setDx(dx); 
            }, 
            // Due to the internal mechanism of swiper, fast switching of swiper will not trigger the continuous change of dx, need Reset the state at the end 
            // swiper sliding ends, set the state of tabs and swiper respectively
            animationfinish(e) { 
                let current = e.detail.current; 
                this.$refs.uTabs.setFinishCurrent(current); 
                this.swiperCurrent = current; 
                this.current = current; 
            }, 
        } 
    } 
</script> 

<style lang="css">
	.u-fade-enter-active
	{
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    box-sizing: border-box;
		    padding: 32px 0;
	}
	.background-tab {
	    width: 100%;
	    transition-property: background-color, color;
	    background: #171717!important;
	}
	.u-tabs-item
	{
		color: #fff!important;
	}
</style>
