<template>
    <view class="heigh-fullscreen">
			<myNav :title="$t('index27')" ></myNav>
			<view class="content-body">
				<view v-for="(item, index) in robotlist" :key="index">
					<view class="robot-item-wrapper margin-top-30">
						<view style="padding-bottom: 0px;" class="flex robot-title-wrapper padding-30">
							<view  style="width: 100%" class="flex robot-title-wrapper-left">
								<image class="flex mc-icon wid flex-row-between width-50 height-50" :src="item.src"></image>
								<text style="width: 70%;" class="flex color-white font-26 padding-left-20 flex-row-between">
									{{$t('index28')}}
								</text>
								<text style="width:25%;" class="flex color-efb601 font-26 flex-row-between">
									{{item.nameid}}
								</text>
							</view>
						</view>
						<view class="flex margin-top-30 padding-left-45 padding-right-45 flex-row-between">
							<text class="flex price-left color888 font-26">
									{{$t('index36')}}
							</text>
							<text class="flex price-right color-white">
									{{item.price}}
							</text>
						</view>
						<view class="flex margin-top-30 padding-left-45 padding-right-45 flex-row-between">
							<text class="flex price-left color888 font-26">
									{{$t('index37')}}
							</text>
							<text class="flex price-right color-white">
							{{item.Activateamount}}
							</text>
						</view>
							
						
						<view class="padding-30">
							<view class="flex acton-bar flex-row-between">
								<view class="padding-30">
									<view class="flex">
										<text class="color888">	{{$t('index30')}}</text>
										<text class="color-white padding-left-15">30</text>
										<text style="padding-left: 10px;" class="color888">{{$t('index31')}}</text>
									</view>
								</view>
								<view class="flex margin-right-20">
									<view style="padding-right:10px;" class="action-right-box flex-row-center">
										<button @click="toggle('center')" class="color-white addon">Buy
										<image class="arrowright" src="/static/imgs/index/blackarrowright.png" mode=""></image>
										</button>
										<uni-popup ref="popup" background-color="#2a2c2e">
											<view class="padding-30">
												<view class="flex-row-end text-align-right">
					<!-- 								<button @click="close"><image class="width-50 height-50" src="/static/imgs/index/closeicon.png"></image></button -->
							<!-- <button @click="dialogclose()">Cancel</button> -->
												</view>
												<view class="margin-top-15 font-30 flex-row-center color-white text-align-center">
													<text>{{$t('index27')}}</text>
												</view>
												
													<view class="flex-row-between margin-top-30 color-white">
														<text>{{$t('index20')}}</text>
														<text>0.0000USDT</text>
													</view>
													<view class="rob-current-card-s margin-top-30">
														<view class="flex-row-between">
															<view style="width: 100%;" class="flex">
																<image style="width: 10%;" class="width-50 height-50" :src="item.src"></image>
																<text style="width: 60%;" class="black-text font-27 padding-left-20 black-text">Robot Performance</text>
																<text style="width: 30%;" class="rob-current-title black-text font-25 padding-left-20 black-text">
																	{{item.nameid}}
																</text>
															</view>
														</view>
													</view>
													<view class="margin-top-30 flex-column color-white">
														<view class="robot-property">
															<view class="flex-row-between margin-top-30 property-label-text font-26">
																	{{item.price}}
															</view>
														</view>
														<view class="robot-property">
															<view class=" flex-row-between margin-top-30 property-label-text font-26">
																<text>Activation Amount：</text>
																<text>{{item.Activateamount}}</text>
															</view>
														</view>
														<view class="robot-property">
															<view class=" flex-row-between margin-top-30 property-label-text font-26">
																<text>Term of validity：</text>
																<text>30Day</text>
															</view>
														</view>
													</view>
													<view class="flex margin-top-30 buy-amount-input-wrapper ">
														<text style="width: 33%;" class="color-efb601 font-25">{{$t('index32')}}</text>
														<view style="width: 57%;">
															<input class="font-20" placeholder="Please enter the purchase amount"/>
														</view>
														<text  style="width: 10%;" class="color-efb601 font-28">{{$t('index33')}}</text>
													</view>
													
													<view class="margin-top-30 border-align">
														
													</view>
													<view class="margin-top-30">
														<text class="color888 font-25">
															{{$t('index34')}}
														</text>
													</view>
													<view class="margin-top-30">
														<button @click="rechar" type="default" class="cu-btn loginBtn" style="
														background: linear-gradient(269deg, #efb601 0%, #efb601 100%);color: #000;">{{$t('index26')}}</button>
														
													</view>
													
											</view>
										</uni-popup>
									</view>
								</view>
							</view>
							
						</view>
					</view>
				 <!--   序号：{{index}}  ，姓名：{{item.name}} 分数：{{item.score}} -->
				</view>
			</view>

    </view>
</template>

<script>
	import uniPopupDialog from '@/components/uni-popup/uni-popup-dialog'
	export default {
		components: {
			uniPopupDialog,
			
		},
	
        data() {
            return {
                robotlist: [ {
                    nameid: "Robot No.1",
					price:"2.00USDT ≈ Tk160.00",
					Activateamount:"30.00USDT ≈ Tk2,400.00",
					src:"https://pcft023.sgp1.digitaloceanspaces.com/oai/images/823e8596110f40ba80bf6d984370be61"
                }, {
                  nameid: "Robot No.2",
                  price:"5.00USDT ≈ Tk400.00",
                  Activateamount:"100.00USDT ≈ Tk8,000.00",
                  src:"https://pcft023.sgp1.digitaloceanspaces.com/oai/images/823e8596110f40ba80bf6d984370be61"
                }, {
                  nameid: "Robot No.3",
                  price:"25.00USDT ≈ Tk2,000.00",
                  Activateamount:"500.00USDT ≈ Tk40,000.00",
                  src:"https://pcft023.sgp1.digitaloceanspaces.com/oai/images/823e8596110f40ba80bf6d984370be61"
                } ],
            }
        },
		onReady()
		{},
		onload()
		{
			
		},
		
		methods: {
				toggle: function(type){
					   this.type = type
				       this.$refs.popup[0].open()
				     }
			}
    }
</script>
<style lang="scss" scoped>
	.cu-btn
	{
		height: 50px!important;
	}
	.border-align
	{
		border-bottom: 1px solid #ffffff78;
	}
	.padding-left-15{
		padding-left: 15px;
	}
	.padding-left-20 {
		padding-left: 20px;
	}
	
	 .uniappbox-extra.uniappbox-extra {
		padding: 30upx;
		border-radius: 16px 16px 16px 16px!important;
		background: #2a2c2e!important;
	}
	
	.black-text
	{
		color: #101010;
		padding: 5px 7px
	}
	.flex-row-between
	{
		    display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    align-items: center;
	}
	.mc-icon
	{
		width: 41px;
		height: 41px;
	}
	.robot-item-wrapper
	{
		position: relative;
		background: #2c2e30;
		border-radius: 5px;
	}
	.content-body
	{
		
		    display: flex;
		    flex-direction: column;
		    padding-left: 15px;
		    padding-right: 15px;
		    padding-bottom: 52px;
	}
	.acton-bar{
	    width: 100%;
	    background: #171718;
	    border-radius: 5px;
	}
	.action-right-box button {
	      color: #000;
	      background: #f3cc2e;
	      border-radius: 5px;
	      font-size: 13px;
		  width: 100%;
	}
	.margin-top-30{
		margin-top: 15px;
	}
	.padding-left-45{
		padding-left: 23px;
	}
	.padding-right-45{
		padding-right: 23px;
	}
	.color888
	{
		color: #888;
	}
	.rob-current-card-s {
	    background-color: #edcd52;
	    border-radius: 5px;
}
.rob-current-card-s >.flex-row-between>.flex
{
	padding: 10px 14px;
}
.buy-amount-input-wrapper{
	    width: 100%;
	    /* padding-right: 20px; */
	    background: #121212;
	    padding: 10px;
	    border-radius: 5px;
}
</style>