<template>
	<view class="heigh-fullscreen">
		<myNav :title="$t('asset38')" style="background: transparent; width: 100%;"></myNav>
		<view class="content_body">
			<view class="section-box">
				<text class="color-white font-30 padding-left-30">USDT</text>
			</view>
		   <u-tabs
				:list="list4"
				lineWidth="30"
				lineColor="#edcd52"
				:activeStyle="{
					color: '#ffff',
					fontWeight: 'bold',
					transform: 'scale(1.05)'
				}"
				:inactiveStyle="{
					color: '#ccc',
					transform: 'scale(1)'
				}"
				itemStyle="
				padding-left: 15px; 
				padding-right: 15px;
				height: 54px;    
				position: relative;
				display: flex;
				flex: 1;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
				padding: 0 4px;
				color: #646566;
				font-size: 14px;
				line-height: 20px;
				margin-top:15px;"
			>
			</u-tabs>
			<view class="section-box margin-t-30">
				<view class="flex-column padding-l-30 padding-r-30 padding-b-30 color-white">
					<text>
						{{$t('asset52')}}
					</text>
					<input class="uni-input wallet-input" placeholder="Please enter the wallet address ">
				</view>
			</view>
			<view class="margin-t-30 color-888 font-25">
				<text>{{$t('asset54')}}</text>
				</view>
				
		
		</view>
		<view class="padding-w-75 margin-t-50 height-230 flex direction-column justify-between">
					<button @click="submit" type="default" class="cu-btn loginBtn" style="
		background: linear-gradient(269deg, #efb601 0%, #efb601 100%);color: #000;font-weight: 500;font-size: 16px;">{{$t('asset51')}}</button>
					
		</view>
	</view>
  
</template>

<script>
    export default {
        data() {
            return {
                list4: [{
                    name: 'TRC20'
                }, {
                    name: 'ERC20',
                }],
            }
        }
    }
</script>

<style lang="scss">
	@charset "UTF-8";
	.content_body {
	    display: flex;
	    flex-direction: column;
	    padding-top: 15px;
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 52px;
	}
	.section-box{
	    width: 100%;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    background: #f4f6fa;
	    border-radius: 5px;
	    background-color: #2a2a2a;
	}
	.padding-left-30 {
	    padding-left: 15px;
	}
	.u-tabs__wrapper__nav{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.tab_nav .navTitle{
		height: 90rpx;
		line-height: 90rpx;
		width: 100%;
		text-align: center;
		font-size: 32rpx;
		color: #fff;
	}
	.active{
		position: relative;
		color:#fff;
		font-weight: 600;
		
	}
	.active::after{
		content: "";
		position: absolute;
		width: 100rpx;
		height: 4rpx;
		background-color: #efb601;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.wallet-input{
		display: flex;
		flex: 1;
		padding: 22px 15px !important;
		/* flex-direction: row; */
		justify-content: space-between;
		align-items: center;
		background-color: #171717;
		margin-top: 10px;

	}
	.loginBtn{
		width: 600rpx;
		height: 96rpx;
		border-radius: 10upx;
		box-shadow: 0rpx 4rpx 30rpx 1rpx rgba(244, 138, 169, 0.2);
		font-size: 28rpx;
	}
	.color-888{
		color: #888;
	} 
</style>