<template>
	<view class="bj-black heigh-fullscreen">
	 <view class="relative" :style="{height: `calc(${statusBar}px + 66px)`}">
	 	<view class="width-100b fixed1 bj-black flex align-center justify-between padding-w-40 empty-space"
	 		:style="{paddingTop: statusBar + 'px', height: `calc(${statusBar}px + 66px)`}">
	 	  <myNavcustom :title="$t('asset42')" style="background: transparent; width: 100%;"></myNavcustom>
	 	  		
	 	<view class=" flex align-center justify-between">
	 	<button @click="open" class="addon">{{$t('asset43')}}</button>
	 		<uni-popup ref="popup" type="bottom" background-color="#2a2c2e">
	 			<view style="font-size: 15px; color: #edcd52;" class="title-modal">{{$t('asset41')}}</view>
	 			<view>
	 				<button @click="router.push('/pages/assets/account/otheraccount')">{{$t('asset37')}}</button>
	 				<button @click="router.push('/pages/assets/account/bind-wallet')">{{$t('asset38')}}</button>
	 				<button @click="router.push('/pages/assets/account/bind-bank')">{{$t('asset39')}}</button>
	 				<button @click="close">{{$t('asset40')}}</button>
	 			</view>
	 		</uni-popup>
	 		</view>
	 	</view>
	 </view>
	<view style="padding: 100px;" class="flex align-center justify-between padding-w-40 padding-row">
		 	<u-image width="156px" height="156px" src="/static/imgs/share/empty-image-default.png"></u-image>
	</view>
	
	
</view>
	
</template>


<script>
	  export default {
		data() {
		  return {
		  }
		},
		onReady() 
		{},
		onload()
		{
			
		},
		
		methods: {
				 open(){
				        this.$refs.popup.open('bottom')
				      },
					close() {
							this.$refs.popup.close()
						}
					  
					  
				}
  }
</script>

<style lang="scss">
	.uni-popup[data-v-7da806a4][data-v-1c57ea46] {
	    position: fixed;
	    top: 0;
	    top: 0;
	    bottom: -10px;
	    left: 0;
	    right: 0;
	    z-index: 1038;
	    overflow: hidden;
	}
	.content 
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.content-pop
	{
		width:100vw;
		height: 50vh;
		background: #ffffff;
		border-radius: 25upx 25upx 0 0;
	}
	.width-100b
	{
		background-color: transparent!important;
		width: 20%!important;
	}
	.cuIcon-back 
	{
	    left: 0px!important;
	}
	.addon 
	{
	    position: relative;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: 14px;
	    padding-right: 14px;
	    box-sizing: border-box;
	    font-size: 18px;
	    text-align: center;
	    text-decoration: none;
	    line-height: 2.55555556;
	    border-radius: 5px;
	    -webkit-tap-highlight-color: transparent;
	    overflow: hidden;
	    color: #000;
	    background-color: #f8f8f8;
	    cursor: pointer;
	    margin: 0px;
	    padding: 0px;
	    background: transparent;
	    color: #fff;
	    font-size: 16px;

	}
	.width-100b[data-v-1c57ea46] {
	    background-color: transparent !important;
	    width: 100% !important;
	}
	button:after
	{
		display: none;
	}
	.uni-popup__wrapper.uni-custom .uni-popup__wrapper-box[data-v-7da806a4] {
	    padding: 15px;
	    border-radius: 16px 16px 0px 0px!important;
	    background: #2a2c2e!important;
	}
	button 
	{
	       position: relative;
	       display: block;
	       margin-left: auto;
	       margin-right: auto;
	       padding-left: 14px;
	       padding-right: 14px;
	       box-sizing: border-box;
	       font-size: 15px;
	       text-align: center;
	       text-decoration: none;
	       line-height: 2.55555556;
	       border-radius: 5px;
	       -webkit-tap-highlight-color: transparent;
	       overflow: hidden;
	       color: #cccc;
	       background-color: #2a2c2e;
	       cursor: pointer;
	       padding: 5px 15px;
	       border: none !important;
	}
	
	.uni-popup[data-v-7da806a4] 
	{
	    position: fixed;
	    top: 0;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 1038;
	    overflow: hidden;
	}
	.title-modal
	{
		border-bottom: 1px solid #ebedf091;
		padding-bottom: 15px;
		
	}
	
</style>