<template>
	<view class="">
		<myNav :title="$t('asset44')"></myNav>
			
		<view class="content_body">
			<view class="margin-t-24">
					<view class="margin-b-32">
						<p class="fontsize15 color-white">{{$t('asset45')}}</p>
						<view class="bj-FAFAFA">
							<input class="flex-1 line-height-100 font-27 padding-w-20" type="text"  :placeholder="$t('asset45')" placeholder-class="color-ADADAD"/>
						</view>
					</view>
			
					<view class="margin-b-32">
						<p class="fontsize15 color-white">{{$t('asset46')}}</p>
						<view class="bj-FAFAFA">
							<input class="flex-1 line-height-100 font-27 padding-w-20" type="text"  :placeholder="$t('asset44')"  placeholder-class="color-ADADAD"/>
						</view>
					</view>
					<view class="margin-b-32">
						<p class="fontsize15 color-white">{{$t('asset48')}}</p>
						<view class="bj-FAFAFA">
							<input class="flex-1 line-height-100 font-27 padding-w-20" type="text"   :placeholder="$t('asset48')"  placeholder-class="color-ADADAD"/>
						</view>
					</view>
				
				</view>
				<view class="margin-top-30">
					<text class="other-text-color-10 font-24 color-888">
						{{$t('asset50')}}
					</text>
				</view>
				<view class="margin-t-100 height-230 flex direction-column justify-between">
							
						<button @click="getRegister()" type="default" class="cu-btn loginBtn" style="
						background: linear-gradient(269deg, #efb601 0%, #efb601 100%);color: #000;font-size:16px;">{{$t('asset51')}}</button>
						</view>
				
			
			</view>
		</view>
		
</template>

<script>
	export default {
		data() {
			return {
				RealName:'',
				Tradeaccount:'',
				test:'',
				focus: false,
			}
		},
		onLoad() {
		
		},
		methods: {
			 onKeyInput: function(event) {
			            this.inputValue = event.target.value
			        },
			        replaceInput: function(event) {
			            var value = event.target.value;
			            if (value === '11') {
			                this.changeValue = '2';
			            }
			        },
			        hideKeyboard: function(event) {
			            if (event.target.value === '123') {
			                uni.hideKeyboard();
			            }
			        }
		
		}
	}
</script>

<style lang="scss">
	.color-888{
		color: #888;
	}
	.fontsize15
	{
		font-size: 15px;
		margin-bottom: 15px;
	}
	.fontsize14
	{
		font-size: 14px;
	}
	.content_body{
		    display: flex;
		    flex-direction: column;
		    padding-top: 26px;
		    padding-left: 15px;
		    padding-right: 15px;
		    padding-bottom: 52px
	}
	.bottomImg{
		width: 100%;
		height: 860rpx;
		position: absolute;
		bottom: 0rpx;
		left: 0rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -1;
	}
	.codeBox{
		// width: 150rpx;
		padding: 0 18rpx;
		height: 60rpx;
		background: linear-gradient(180deg, #FF97A9 0%, #FF668E 100%);
		border-radius: 16rpx;
		line-height: 60rpx;
		font-size: 26rpx;
		color: #FFFFFF;
	}
	.loginBtn{
		width: 100%;
		height: 96rpx;
		border-radius: 5px;
		box-shadow: none!important;
		font-size: 28rpx;
	}
	.bj-FAFAFA
	{
		     
		    border-bottom: 1px solid#3e3e3e;
			margin-bottom: 10px;
		
	}
	input
	{
		color:#fff7f7ba!important;
		    display: flex;
		    flex: 1;
		    flex-direction: row;
		    justify-content: space-between;
		    align-items: center;
			margin: 10px;
		    
	}
	
</style>
