<template>
  <view class="bj-black heigh-fullscreen">
		<view class="relative" :style="{height: `calc(${statusBar}px + 44px)`}">
			<view class="width-100b flex align-center justify-between padding-w-40 empty-space"
				:style="{paddingTop: statusBar + 'px', height: `calc(${statusBar}px + px)`}">
			   	<myNavcustom :title="$t('asset1')" :black="false" style="background: transparent; width: 100%;"></myNavcustom>
			   <view  @click="router.push('/pages/assets/setting/index')">
				   <u-icon name="setting" size="26"color="#fff"></u-icon>
			   </view> 
			</view>
			<image class="background-asset postion-abb" src="/static/imgs/asset/my-top-img.46e060ee.png"></image>
		</view>
			 <view style="padding: 0px 20px 15px 20px;text-align: left;" class="flex align-center justify-between">
				 <view style="width: 15%; padding-top: 13px;" class="flex direction-column align-left justify-center">
						<view class="left">
							<image class="width-100 height-100" src="/static/imgs/index/ethcoin.png"></image>
						</view>
				 </view>
				<view style="width: 30%;text-align: left;" class="color-white">
					 <text class="name-asset">hengsun(67408230)</text></br>
					  <text style="position: relative;top: 12px;">{{$t('asset2')}}</text>
				 </view>
				 <view style="width: 30%;    margin-right: 15px;text-align: left;margin-left: 38px;position: relative;" class="color-white">
					 <text>ID：1000699</text></br>
					  <text class="btn-code">NBV8PPE9</text>
				 </view>
			</view>	
				<view style="padding: 0upx 40upx 30upx 40upx" class="relative">
					 <view class="backgorund-robot-asset flex align-center ">
					<view style="width: 100%;  padding: 20upx 20upx;" class="flex align-center justify-between">
						<view style="width: 63%;" class="flex direction-column align-left justify-center color-white text-align-left">
							<view style="font-size: 2em;">0.0000 <text style="padding-left: 5px;font-size: .8rem;">USDT</text></view>
							<span style="padding-left: 5px;color: #abfc99;font-size: 15px;" >≈ Tk0.00</span>
							<span style="font-size: .7rem;padding-top: 5px;color: #ccc;">{{$t('asset3')}}</span>
						</view>
						<view style="width: 37%;" class="flex direction-column align-left justify-center color-white text-align-left">
							<view style="font-size: 2em;">0.0000 <text style="padding-left: 5px;font-size: .8rem;">USDT</text></view>
							<span style="padding-left: 5px;color: #abfc99;font-size: 15px;" >≈ Tk0.00</span>
							<span style="font-size: .7rem;padding-top: 5px;color: #ccc;">{{$t('asset4')}}</span>
						</view>
					</view>
					</view>			
				</view>
				<view class="flex align-center justify-between padding-w-40 bj-black">
					<view style="width: 50%;text-align: left;" >
						<view class="section-tag"></view>
						<span class="fontsize-14">{{$t('asset20')}}</span>
					</view>
				</view>	
		
        <view  class="flex align-center justify-between padding-w-40 padding-top5px">
				<view style="width: 48%;" class="flex direction-column align-left justify-center color-white text-align-left">
						<view class="flex-column">
						  <view class="flex direction-column align-left justify-center my-property-item ">
							 <view style="height: 41px;">
								 <image style="width: 50upx;height: 50upx;" src="/static/imgs/asset/icon.png"></image>
								   <view class="font-26 float-left padding-left-40 relative bottom-32">{{$t('asset5')}}</view>
							 </view> 
						  <view style="position: relative;bottom: 0px;left: 0px;font-size: 20px;">
								<view>0.0000 <span class="color-888 font-26 padding-l-10">USDT</span></view>
						  </view>
					   </view>		
						
					</view>
					 	
				</view>
				<view style="width: 48%;" class="flex direction-column align-left justify-center color-white text-align-left">
						<view class="flex-column">
						  <view class="flex direction-column align-left justify-center my-property-item ">
							 <view style="height: 41px;">
								 <image style="width: 50upx;height: 50upx;" src="/static/imgs/asset/icon.png"></image>
								   <view class="font-26 float-left padding-left-40 relative bottom-32">{{$t('asset6')}}</view>
							 </view> 
						  <view style="position: relative;bottom: 0px;left: 0px;font-size: 20px;">
								<view>0.0000 <span class="color-888 font-26 padding-l-10">USDT</span></view>
						  </view>
					   </view>		
						
					</view>
						
				</view>
			
		</view>
		<view  class="flex align-center justify-between padding-w-40 padding-top5px">
				<view style="width: 48%;" class="flex direction-column align-left justify-center color-white text-align-left">
						<view class="flex-column">
						  <view class="flex direction-column align-left justify-center my-property-item ">
							 <view style="height: 41px;">
								 <image style="width: 50upx;height: 50upx;" clas src="/static/imgs/asset/icon.png"></image>
								   <view style="padding-left: 40px;float: left;position: relative;bottom: 32px;">{{$t('asset7')}}</view>
							 </view> 
						  <view style="position: relative;bottom: 0px;left: 0px;font-size: 20px;">
								<view>0.0000 <span style="color: #888;font-size: 13px;padding-left: 5px;">USDT</span></view>
						  </view>
					   </view>		
						
					</view>
					 	
				</view>
				<view style="width: 48%;" class="flex direction-column align-left justify-center color-white text-align-left">
						<view class="flex-column">
						  <view class="flex direction-column align-left justify-center my-property-item ">
							 <view style="height: 41px;">
								 <image style="width: 50upx;height: 50upx;" src="/static/imgs/asset/icon.png"></image>
								   <view style="padding-left: 40px;float: left;position: relative;bottom: 32px;">{{$t('asset8')}}</view>
							 </view> 
						  <view style="position: relative;bottom: 0px;left: 0px;font-size: 20px;">
								<view>0.0000 <span style="color: #888;font-size: 13px;padding-left: 5px;">USDT</span></view>
						  </view>
					   </view>		
						
					</view>
						
				</view>
			
		</view>
		<view style="padding: 15px;" class="bj-black">
			 <view class="backgorund-robot-asset-alert flex align-center ">
				 <view style="width: 18.33%;" class="flex direction-column align-left justify-center">
				 		<view style="text-align: center;" class="left">
				 			<image style="width: 31px;height: 31px;" class="width-100 height-100" src="/static/imgs/asset/robot.png"></image>
				 		</view>
				 </view>
				 				
				 <view style="width: 100%;text-align: left;line-height: inherit;" class="flex direction-column align-left justify-left">
				 	<span style="font-size: 15px;font-weight: 500; color: #101010;" class="color-white right fontsize-16">{{$t('asset9')}}
					</span>
					
				 </view>
				
			</view>			
			</view>

			<view class="white-color-account">
				<view @click="router.push('/pages/assets/account/index')">
							<view class="section-tag-asset"></view>
							<u-cell :title="$t('asset10')" isLink >
				
								 <text slot="value" class="u-slot-value color-white"></text>
							</u-cell>
						</view>
						<view @click="router.push('/pages/assets/transaction-log')">
							<view class="section-tag-asset"></view>
							<u-cell :title="$t('asset11')"  isLink >
								 <text slot="value" class="u-slot-value"></text>
							</u-cell>
						</view>
						<view @click="router.push('/pages/assets/report-earning')">
							<view class="section-tag-asset"></view>
							<u-cell :title="$t('asset12')"  isLink >
								 <text slot="value" class="u-slot-value"></text>
							</u-cell>
						</view>
						<view @click="router.push('/pages/assets/report-outlay')">
							<view class="section-tag-asset"></view>
							<u-cell :title="$t('asset13')"  isLink >
								 <text slot="value" class="u-slot-value"></text>
							</u-cell>
						</view>
						<view @click="router.push('/pages/assets/record-withdraw')">
							<view class="section-tag-asset"></view>
							<u-cell :title="$t('asset14')"  isLink >
								 <text slot="value" class="u-slot-value"></text>
							</u-cell>
						</view>
						<view @click="router.push('/pages/assets/record-deposit')">
							<view class="section-tag-asset"></view>
							<u-cell :title="$t('asset15')"  isLink >
								 <text slot="value" class="u-slot-value"></text>
							</u-cell>
						</view>
						<view @click="router.push('/pages/assets/record-agent-commission')">
							<view class="section-tag-asset"></view>
							<u-cell :title="$t('asset16')"  isLink >
								 <text slot="value" class="u-slot-value"></text>
							</u-cell>
						</view>
						<view@click="router.push('/pages/team/sub-member')">
							<view class="section-tag-asset"></view>
							<u-cell :title="$t('asset17')"  isLink >
								 <text slot="value" class="u-slot-value"></text>
							</u-cell>
						</view>
						<view @click="router.push('/pages/assets/modify-password')">
							<view class="section-tag-asset"></view>
							<u-cell :title="$t('asset18')"  isLink >
								 <text slot="value" class="u-slot-value"></text>
							</u-cell>
						</view>
				   
				<view @click="logout" style="width: 100%;" class="height-230 flex direction-column align-center justify-center">
					<view  style="width: 100%;" class="flex align-center justify-center">
						<text style="    background-color: #e64340;
    padding: 10px;
    width: 70%;
    color: #fff;
    border-radius: 10upx;
" class="font-30 color-F95D43 margin-t-20">{{$t('asset19')}}</text>
					</view>
				
				</view>
				
			</view>
  </view>

</template>

<script>
		export default {
		
			data() {
				return {
					show:false,
					content:'',
					
					statusBar: uni.getSystemInfoSync().statusBarHeight,
					text1: '',
					cionlist:[],
					
					count_trx:0,
					count_yj:0,
					count_user:0,
					
						   
				}
				
			},
			onLoad() {
				this.get_agreement()
			},
			onShow() {
				uni.setTabBarItem({
					index: 0,
					text: this.$t('tabBar1')
				});
				uni.setTabBarItem({
					index: 1,
					text: this.$t('tabBar2')
				});
				uni.setTabBarItem({
					index: 2,
					text: this.$t('tabBar3')
				});
				uni.setTabBarItem({
					index: 3,
					text: this.$t('tabBar4')
				});
				this.show = true
				this.int()
				this.get_hot_coin()
			},
			methods: {
				get_agreement(){
					this.post('/publics/text_info').then((res) => {
						console.log('',res)
						if (res.code == 1) {
							this.content = res.data.index_wind
						}
					})
				},
				int(){
					this.post('/index/index_wallet').then((res) => {
						if (res.code == 1) {
							this.text1 = res.data.message.title
							this.count_trx = res.data.count_trx
							this.count_yj = res.data.count_yj
							this.count_user = res.data.count_user
							this.guanyu_us = res.data.guanyu_us
						}
					})
				},
				get_hot_coin(){
					this.post('/index/get_hot_coin').then((res) => {
						if (res.code == 1) {
							this.cionlist = res.data
						}
					})
				},
				logout(){
					uni.showLoading()
					this.post('/user/logout').then((res) => {
						uni.hideLoading()
						if (res.code == 1) {
							uni.removeStorageSync('token');
							uni.removeStorageSync('userinfo');
							this.tos(res.msg)
							setTimeout(() => {
								uni.reLaunch({
									url: '/pages/login/index'
								})
							}, 500)
						}
					})
				}
			}
		}

</script>

<style lang="css">
	.white-color-account span
	{
		color: #fff!important;
	}
	.u-slot-value {
	   
	    color: #ffff!important;
	}
	.u-icon__icon--info {
	    color: #ffff!important;
	}
	.padding-top5px
	{
		padding-top:30upx ;
	}
	.backgorund-robot-asset-alert
	{
		    width: 100%;
		    background: #edcd52;
		    border-radius: 10upx;
		    padding: 20upx 20upx;
	}
	.position-240
	{
		position: relative;
		bottom: 480upx;
	}
	.section-tag-asset
	{
    width: 10upx;
    height: 10upx;
    background: #edcd52;
    border-radius: 50%;
    margin: 50upx 0px 0px 40upx;
    float: left
	}
	.bg-transparent {
	    background-color: transparent!important;
	}
	.background-asset
	{
		width: 100vw;
	}
	.u-cell__title-text[data-v-e835eb80] {
	    font-size: 30upx;
	    line-height: 44upx;
	    color: #fff;
	}
	.u-icon__icon--info[data-v-6e20bb40] {
	    color: #fff;
	}
	.postion-abb
	{
		position: absolute;
		top: 0;
	}
	
	.my-property-item
	{
		flex: 1;
		border-radius: 10upx;
		background: linear-gradient(157deg,#2a2c2e 8%,#444749);
		padding: 30upx 0px 30upx 20upx;
		
	}
	.u-cell__title-text[data-v-e835eb80] 
	{
	    font-size: 30upx;
	    line-height: 44upx;
	    color: #fff;
	}
	.u-icon__icon--info[data-v-6e20bb40] 
	{
	    color: #fff;
	}
	.u-icon--right[data-v-6e20bb40]
	{
		flex-direction: row;
		align-items: center;
		color: #fff;
		position: relative;
		z-index: 1000;
	}
	.name-asset
	{
		font-size: 28upx;
		color: #fff;
		position: relative;
		font-weight: 500;
	}
	.btn-code
	{
	
		    color: #fff;
		    position: relative;
		    background: #59b482;
		    padding: 8upx;
		    border-radius: 10upx;
		    position: relative;
		    right: 80upx;
		    top: 22upx;
		    font-size: 26upx;
	}
	.backgorund-robot-asset {
	    width: 100%;
	    background: #2a2a2a;
	    border-radius: 10upx;
	    padding: 0upx 10upx;
	}
	.u-cell__body[data-v-e835eb80] {
	    display: flex;
	    flex-direction: row;
	    box-sizing: border-box;
	    padding: 15upx 15upx!important;
	    font-size: 15upx;
	    color: #303133;
	    align-items: center;
	}
	.padding-left-40{
		padding-left: 80upx;
	}
	.float-left{
		float: left;
	}
	.relative{
		position: relative;
	}
	.bottom-32{
		bottom: 64upx;
	}
	.color-888 
	{
		color: #888;
	}
</style>