<template>
    <view class="bj-black heigh-fullscreen"> 
	 <myNav :title="$t('asset11')"></myNav>
				
	
	<view class="flex align-center justify-between padding-w-40 padding-row padding100">
		 	<u-image width="156px" height="156px" src="/static/imgs/share/empty-image-default.png"></u-image>
	</view>
	</view>
</template>

<script>
</script>

<style>
	.padding100
	{
		padding: 100px;
	}
</style>