<template>
<view class="bj-black heigh-fullscreen">
	  <view><myNav :title="$t('index19')" :black="true"></myNav></view>
	  
		<view class="width-670 trading-info margin-20-auto padding-25">
			<view class="flex">
				<view class="color-white fontsize-23">
					0.0000
				</view>
				<view class="color-888 font-30 othertext">
					USDT ≈ Tk0.00
				</view>
			
			</view>
			<view>
				<view class="color888 font-25 margin-bottom-10">
				{{$t('index20')}}
				</view>
			</view>
			<view class="margin-b-32 ">
				<view class="uni-form-item uni-column">
					<view class="border-bottom-custom"></view>
					<view class="title font-30 color-white margin-bottom-10"> </view>
				
						<view class="">
							<view class="flex margin-bottom-10">
								<view class="flex color-white font-26">	{{$t('index21')}}</view>
								 <view class="flex color-white font-26 color-59b482">{{inputValue}}$</view>
								<view class="flex color-white font-26 color-59b482">≈ Tk0.00</view>
							</view>
						
							<!-- <input class="height-96 line-height-96 font-26 uni-input content-input" type="number"  v-model="inputValue" @input="onKeyInput" :placeholder="$t('widthdraw4')" placeholder-class="color-ADADAD"/> -->
							<view class="height-96 bj-FAFAFA radiu-28 flex align-center justify-between amount-input">
								<input class="height-96 line-height-96 font-26 uni-input content-input" type="number"  v-model="inputValue" @input="onKeyInput" :placeholder="$t('widthdraw4')" placeholder-class="color-ADADAD"/>
							</view>
						</view>
					</view>
				</view>
				<view class="margin-b-32">
					<view class="height-96 bj-FAFAFA radiu-28 margin-t-20">
						<input class="flex-1 height-96 line-height-96 font-26 padding-w-20 amount-input" type="number" v-model="pay_pwd" :placeholder="$t('widthdraw5')" password placeholder-class="color-ADADAD"/>
					</view>
				</view>
				<view class="color-white font-30">
					1USDT ≈ Tk80.00
				</view>
			</view>
			
					
			<view class="align-center justify-between padding-w-35">
					<view class="flex-row-between amount-item"" v-for="(item,index) in list"" :key="item.id"" @tap="changeAct(item)"">
						<view :class="[act==index?'name':''] "@click="addvalue(item.name)">
							{{item.name}}.00$
						</view>
					</view>
			</view>
			<view style="clear: both;"></view>
		
		<view class="justify-between padding-w-40 padding-row ">
			<view class="uni-list">
									<radio-group @change="radioChange">
										<label class="uni-list-cell uni-list-cell-pd" v-for="(item, index) in items" :key="item.value">
											<view class="flex-row-between amount-bank">
												<view style="width: 15%;" class="flex direction-column"><image :src="item.src" class="width-40 height-40"></image></view>
												<view  style="width: 85%;" class="flex direction-column color-white">{{item.name}}	</view>	
												<view class="flex-row-between direction-column"><radio :value="item.value" :checked="index === current" /></view>
											</view>
									
										</label>
									</radio-group>
								</view>
			
			</view>
			<view class="flex justify-between padding-w-40 other-text-color-3 font-24">
				{{$t('index24')}}
			</view>
			<view class="padding-w-75 height-96 flex direction-column justify-between">
						<button @click="rechar" type="default" class="cu-btn loginBtn" style="
			background: linear-gradient(269deg, #efb601 0%, #efb601 100%);color: #000;">{{$t('index19')}}</button>
				</view>
    
</view>
</template>
 <script>
	export default{
		data(){
			return{
				title: 'input',
				focus: false,
				inputValue: '',
				changeValue: '',
				act: 0,
				pay_pwd:'',
				list:[{
					name: '32',
					id: 0
					
				},
				{
					name: '105',
					id: 1
				},
				{
					name: '525',
					id: 2
				},
				{
					name: '2100',
					id: 3
				},
				{
					name: '4200',
					id: 4
				},
				{
					name: '7000',
					id: 5
				},
				
				],
				content: '',
				items: [{
							value: 'USDT(TRC20)',
							name: 'USDT(TRC20)',
							src: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/fa7b4cd2c6f743dea1e0e7fdf5569180',
							checked: 'true'
						},
						{
							value: 'USDT(ERC20)',
							src: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/fa7b4cd2c6f743dea1e0e7fdf5569180',
							name: '中国'
						},
						{
							value: 'Bank',
							src: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/d284671f209f4489a624ce6d92b9fba8',
							name: 'Bank'
						},
					],
					current: 0
								    
			}
		
		},
		methods: {
				radioChange: function(evt) {
										for (let i = 0; i < this.items.length; i++) {
											if (this.items[i].value === evt.detail.value) {
												this.current = i;
												break;
											}
										}
									},

				addvalue(value){
					console.log(value)
					this.inputValue = value
				},
			      onKeyInput: function(event) {
			              this.inputValue = event.target.value
			          },
			          replaceInput: function(event) {
			              var value = event.target.value;
			              if (value === '11') {
			                  this.changeValue = '2';
			              }
			          },
			          hideKeyboard: function(event) {
			              if (event.target.value === '123') {
			                  uni.hideKeyboard();
			              }
			          },
			  		numberDone: function(event) {
			  			console.log(event)
			  			uni.hideKeyboard();
			  		},
					
					changeAct(item){
						this.act = item.id;
						this.content = item
					},
					formSubmit(){
						console.log(this.inputValue)
					},
				rechar(){
					if(!this.flag) return
					if(this.curr_id == ''){
						this.tos(this.$t('chong16'))
						return
					}
					if(this.num == ''){
						this.tos(this.$t('chong12'))
						return
					}
					if(this.address == ''){
						this.tos(this.$t('chong13'))
						return
					}
					if(this.hash == ''){
						this.tos(this.$t('chong14'))
						return
					}
					if(this.pay_pwd == ''){
						this.tos(this.$t('chong15'))
						return
					}
					this.flag = false
					this.post('/wallet/recharge_sub',{
						address:this.address,
						hash:this.hash,
						num:this.num,
						pay_pwd:this.pay_pwd,
						curr_id:this.curr_id,
					},true).then(res => {
						this.flag = true
						if (res.code == 1) {
							this.pay_pwd = ''
							this.tos(res.msg)
							setTimeout(()=>{
								uni.navigateTo({
									url:'/pages/index/re_record'
								})
							},500)
						}
					})
				},
				recharge_con(id){
					let obj = {}
					if(id){
						obj = {
							curr_id:id
						}
					}
					this.post('/wallet/recharge_con',obj,true).then(res => {
						if (res.code == 1) {
							this.PTaddress = res.data.address
							this.lian = res.data.lian
							this.exchange = res.data.exchange
							this.curr_name = res.data.curr
							this.curr_id = res.data.curr_id
						}
					})
				}
		},
		onShow() {
			this.content= this.list[0]
		},
		
	}
 </script>
 
 <style scoped>
	 .padding-w-75 
	 {
		 margin-top: 20px;
		 margin-bottom: 20px;
	 }
	 .margin-bottom-10{
		 margin-bottom: 10px;
	 }
	 .othertext
	 {
		     position: relative;
		     top: 6px;
		     left: 8px;
	 }
	 .color-888
	 {
		 color: #888;
	 }
	 .nav
	 {
		 height: 100rpx;
		 displasy: flex;
		 align-items: center;
		 justify-content: space-around;
		 background-color:rgba(0,0,0, .8);
		 font-size:30rpx;
		 color:orange;
		 letter-spacing: 2.14rpx;
	 }
	/* .nav-list
	 {
		 width 65rpx;
		 height: 100%;
		 margin-top: 40rpx;
		 opacity: .9;
	 } */
	 .nav-list .name
	 {
		 color: red;
	 }
	 .nav-list .line
	 {
		 margin-top: 10rpx;
		 width: 65rpx;
		 height: 4rpx;
		 background-color: red;
		 
	 }
	 .content
	 {
		 margin-top: 40rpx;
	 }
	 .amount-item
	 {
		    border-radius: 3px;
		    background-color: #fff;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    text-align: center;
		    margin: 7px 7px;
		    padding-top: 8px;
		    padding-bottom: 8px;
		    width: 29%;
			float: left;
		
		 
	 }
	 .topBox
	 {
	 	width: 670rpx;
	 	padding: 0 0 0 42rpx;
	 	margin: 20rpx auto 24rpx;
	 	height: 240rpx;
	 	border-radius: 40rpx;
	 	box-shadow: -10rpx 20rpx 50rpx 1rpx rgba(243, 161, 185, 0.3);
	 	background-repeat: repeat;
	 	background-size: 100% 100%;
	 }
	 .codeBox
	 {
	 	// width: 150rpx;
	 	padding: 0 18rpx;
	 	height: 60rpx;
	 	background: linear-gradient(180deg, #FF97A9 0%, #FF668E 100%);
	 	border-radius: 16rpx;
	 	line-height: 60rpx;
	 	font-size: 26rpx;
	 	color: #FFFFFF;
	 }
	 .loginBtn
	 {
	 	width: 600rpx;
	 	height: 96rpx;
	 	border-radius: 5px;
	 	box-shadow: 0rpx 4rpx 30rpx 1rpx rgba(244, 138, 169, 0.2);
	 }
	 .trading-info
	 {
		     border-radius: 5px;
		     background: #2a2a2a;
	 }
	 .fontsize-23
	 {
		 font-size: 23px;
	 }
	 .amount-input
	 {
		     display: flex;
		     flex: 1;
		     padding: 10px 15px;
		     flex-direction: row;
		     justify-content: space-between;
		     align-items: center;
		     background: #171717;
		     border-radius: 5px;
	 }
	 .content-input 
	 {
		     width: 100%;
		     text-align: left;
		 
	 }
	 input
	 {
		 color: #fff;
	 }
	 .padding-w-35
	 {
		 padding-left:15px;
		 padding-right:15px;
	 }
	 .uni-list,uni-radio-group
	 {
		 background-color: #2a2a2a;
		 width: 100%;
	 }
	 .amount-bank
	 {
		width: 100%;
		padding: 15px 15px;
		overflow: hidden;
		color: #323233;
		font-size: 14px;
		line-height: 24px;
		border-bottom: 1px solid #ffffff4f;
	 }
	 .other-text-color-3
	 {
		color: #59b482;
		width: 375px;
	 }
	 .color-59b482{
		 	color: #59b482;
	 }
	 .border-bottom-custom{
		     display: flex;
		     align-items: center;
		     margin: 16px 0;
		     border-bottom:1px solid #969799;
		    
	 }
</style>