<template>
	<view>
		<button type="primary" @click="confirmShare">分享模版示例</button>
		<unipopup ref="popupShare" type="share">
			<unipopupshare title="分享到" @select="select"></unipopupshare>
		</unipopup>
	</view>
</template>

<script>
	import unipopup from '@/components/uni-popup-share'
	export default {
		data() {
			return {
			}
		},
		methods: {
			confirmShare() {
				this.$refs.popupShare.open()
			},
			select(e, done) {
				uni.showToast({
					title: `您选择了第${e.index+1}项：${e.item.text}`,
					icon: 'none'
				})
				done()
			}
		},
	}
</script>