<template>	
	<view class="bj-black heigh-fullscreen">
		<myNav :title="$t('team1')" :black="false"></myNav>
		 	 
	<view class="flex align-center justify-between padding-w-40 bj-black">
		<view style="width: 100%; " class="flex align-center justify-between">
			<view style="width: 50%;" class="background-gredent">
				<span>{{$t('team5')}}</span>
				<span>1</span>
			</view>
			<view style="width: 50%;" class="background-gredent">
				<span>{{$t('team6')}}</span>
				<span>10/0</span>
			</view>
		</view>
	</view>
	
	<view style="padding-top: 25px;padding-bottom: 15px;" class="flex align-center justify-between padding-w-40 bj-black">
		<view style="width: 70%;text-align: left ;" class="flex direction-column align-left justify-left">
				<view class="left">
					<span class="color-white"><span class="usdt">{{$t('team2')}}</span></span> 
				
				</view>
		</view>
						
		<view @click="router.push('/pages/team/sub-member')" style="width: 30%;text-align: right;" class="flex direction-column align-right justify-right">
			<span class="color-white righ fontsize-13"> {{$t('team4')}}
			 <image  src="/static/imgs/arrow-right-icon.png" class="arrowright"></image>
			 </span>
		</view>
	</view>
	
		<view class="uni-margin-wrap bj-black">
				<swiper class="swiper" :autoplay="false" :interval="interval"
					:duration="duration" :display-multiple-items="2">
					<swiper-item class="col-3">
						<view class="swiper-item">
							<view class="swiper-item-images">
								<image src="/static/imgs/share/team-member-level-bg.png"></image>
							</view>
							<view class="swiper-item-text">
								<span style="color:#a2a3a3">First-level Member</span><br>
								<span class="color-white">0 People</span>
							</view>
						</view>
						
					</swiper-item>
					<swiper-item>
						<view class="swiper-item">
							<view class="swiper-item-images">
								<image src="/static/imgs/share/team-member-level-bg.png"></image>
							</view>
							<view class="swiper-item-text">
								<span style="color:#a2a3a3">First-level Member</span><br>
								<span class="color-white">0 People</span>
							</view>
								
								
						</view>
						
					</swiper-item>
					<swiper-item>
						<view class="swiper-item">
							<view class="swiper-item-images">
								<image src="/static/imgs/share/team-member-level-bg.png"></image>
							</view>
							<view class="swiper-item-text">
								<span style="color:#a2a3a3">First-level Member</span><br>
								<span class="color-white">0 People</span>
							</view>
								
								
						</view>
						
					</swiper-item>
					<swiper-item>
						<view class="swiper-item">
							<view class="swiper-item-images">
								<image src="/static/imgs/share/team-member-level-bg.png"></image>
							</view>
							<view class="swiper-item-text">
								<span style="color:#a2a3a3">First-level Member</span><br>
								<span class="color-white">0 People</span>
							</view>
								
								
						</view>
						
					</swiper-item>
					<swiper-item>
						<view class="swiper-item">
							<view class="swiper-item-images">
								<image src="/static/imgs/share/team-member-level-bg.png"></image>
							</view>
							<view class="swiper-item-text">
								<span style="color:#a2a3a3">First-level Member</span><br>
								<span class="color-white">0 People</span>
							</view>
								
								
						</view>
						
					</swiper-item>
					<swiper-item>
						<view class="swiper-item">
							<view class="swiper-item-images">
								<image src="/static/imgs/share/team-member-level-bg.png"></image>
							</view>
							<view class="swiper-item-text">
								<span style="color:#a2a3a3">First-level Member</span><br>
								<span class="color-white">0 People</span>
							</view>
								
								
						</view>
						
					</swiper-item>
					
					
				</swiper>
			</view>
			<view style="padding-top: 25px;padding-bottom: 15px;" class="flex align-center justify-between padding-w-40 bj-black">
				<view style="width: 70%;text-align: left ;" class="flex direction-column align-left justify-left">
						<view class="left">
							<span class="color-white"><span class="usdt">{{$t('team5')}}</span></span> 
						
						</view>
				</view>
								
				<view @click="router.push('/pages/assets/record-agent-commission')" style="width: 30%;text-align: right;" class="flex direction-column align-right justify-right">
					<span class="color-white righ fontsize-13"> {{$t('team4')}}
					 <image src="/static/imgs/arrow-right-icon.png" class="arrowright"></image>
					 </span>
				</view>
			</view>
			
			<view  class="flex align-center justify-between padding-w-40 bj-black empty-space">
				<view class="flex align-center justify-between award-wrapper ">
					<view style="width: 33.33%;text-align: left;padding-left: 10px;" class="">
						<view class="heading">{{$t('team7')}}</view>
						<view>0.0000USDT</view>
					</view>
					<view style="width: 33.33%;" class="">
						<view class="heading">{{$t('team8')}}</view>
						<view>0.0000USDT</view>
					</view>
					<view style="width: 33.33%;text-align: right;padding-right: 10px;" class="">
						<view class="heading">{{$t('team9')}}</view>
						<view>0.0000USDT</view>
					</view>
				</view>
			</view>
			
				
    </view>


</template>

<script>
	import clipboard from "@/components/copy/clipboard.js"
	export default {
		data() {
			return {
				referral_code:'NBV8PPE9',
				qrcode:'',
				lianjieurl:'https://yanyan-ai.com/#/pages/user/reg?code=NBV8PPE9',
				 background: ['color1', 'color2', 'color3'],
				            indicatorDots: true,
				            autoplay: true,
				            interval: 2000,
				            duration: 500
			}
		},
		onLoad() {
			this.int()
		},
		methods: {
			changeIndicatorDots(e) {
			            this.indicatorDots = !this.indicatorDots
			        },
			        changeAutoplay(e) {
			            this.autoplay = !this.autoplay
			        },
			        intervalChange(e) {
			            this.interval = e.target.value
			        },
			        durationChange(e) {
			            this.duration = e.target.value
			        },
			int(){
				this.post('/my/get_share').then(res => {
					if (res.code == 1) {
						this.qrcode = res.data.qrcode
						this.referral_code = res.data.referral_code
						this.lianjieurl = res.data.url
					}
				})
			},
			// 复制地址
			copy(data) {
				// #ifndef H5
				clipboard.setText(data);
				// #endif
				// #ifdef H5 
					  let result
				      let textarea = document.createElement("textarea")
				      textarea.value = data
				      textarea.readOnly = "readOnly"
				      document.body.appendChild(textarea)
				      textarea.select() // 选中文本内容
				      textarea.setSelectionRange(0, data.length) 
				      result = document.execCommand("copy") 
				      textarea.remove()    
				// #endif
				
				this.tos(this.$t('succee'))
			},
		}
	}
</script>

<style lang="scss">
	.shareBox {
		width: 670rpx;
		height: auto;
		margin: 40rpx auto;
		padding-top: 40rpx;
		border-radius: 48rpx;
		background: #2a2c2e;
		border-radius: 12px;
	}
	.uni-margin-wrap {
			width: 690rpx;
			width: 100%;
		}
		.swiper {
			height: 300rpx;
		}
		.swiper-item {
			display: block;
			height: 300rpx;
			    margin: 5px;
			text-align: center;
		}
		.swiper-list {
			margin-top: 40rpx;
			margin-bottom: 0;
		}
		.uni-common-mt {
			margin-top: 60rpx;
			position: relative;
		}
		.info {
			position: absolute;
			right: 20rpx;
		}
		.uni-padding-wrap {
			width: 550rpx;
			padding: 0 100rpx;
		}
		.swiper-item-image
		{
			
		}
		.uni-swiper-slide-frame
		{
			width: 160px!important;
			height: 100px!important;
		}
		.swiper-item-images
		{
			height: 180upx;
		}
		.swiper-item-text
		{
			color: #fff;
			position: absolute;
			left: 0;
			top: 0;
			padding: 20px;
			text-align: left;
			line-height: 2em;
		}
		.uni-swiper-slide-frame{
			width: 42.3333%!important;
			height: 100%;
			transform: translate(0%, 0px) translateZ(0px);
			border-radius: 12px;
		}
		.swiper-item-images div
		{
			border-radius: 10px!important;
		}
		.screen-swiper uni-image, .screen-swiper uni-video, .swiper-item uni-image, .swiper-item uni-video {
		    width: 100%;
		    display: block;
		    height: 100%;
		    margin: 0;
		    pointer-events: none;
		    border-radius: 5px;
		}
		uni-swiper .uni-swiper-slide-frame
		{

		    width: 43.3333%!important;
		}
		.arrowright{
			width: 20px;
			 height: 5px;
			margin-left: 5px;
		}
		.background-gredent
		{
			min-width: 113px;
			max-width: 47.33%;
			width: 100%;
			height: 114px;
			background: linear-gradient(165deg, #ffd959, rgba(255, 217, 89, 0));
			border-radius: 10upx;
			color: #fff;
			padding: 30px 9px;
			text-align: left;
			font-size: 13px;
		}
		.uni-margin-wrap
		{
			margin: 0px 13px;
			height: 100px;
			overflow: hidden;
		}
		.award-wrapper 
		{
		
			background-color: #2a2a2c;
			border-radius: 10upx;
			padding: 40upx 0upx 30upx 0upx;
			color: #fff;
			width: 100%;
		}
		.award-wrapper .heading
		{
			padding-bottom: 10px;
			font-size: 13px;
		}
</style>
