<template>
	<view>
		<view class="relative" :style="{height: `calc(${statusBar}px + ${height}px)`}">
			<view class="width-100b relative-fix1" :style="{height: `calc(${statusBar}px + ${height}px)`,background:background}">
				<view class="width-100percent flex align-center relative-fix1 justify-start padding-w-88 text-center" :style="{paddingTop: statusBar + 'px', height: `calc(${statusBar}px + 44px)`}">
					<text class="midetitle" :style="{color: color}">{{ title }}</text>
					<i  @click="goBack" v-if="black" class="cuIcon-back font-36" style="position: absolute;left:0" :style="{color: whiteColor}"></i>
					<image @tap="Jump" v-if="isRight" style="position: absolute;right: 30rpx;" :style="'width:'+rightWidth +'rpx;height:' + rightHeight + 'rpx'"
					 :src="righturl" />
					<text @tap='Jump' v-if="isRightext" class="font-30 weight-bold" :style="{color: rightextColor}" style="position: absolute;right: 30rpx;"><u-icon name="setting"></u-icon></text>
				</view>
			</view>
		</view>

	</view>
</template>

<script>
	export default {
		props: {
			//标题
			title: {
				type: String
			},
			height: {
				type: String,
				default: '44'
			},
			// 标题字体颜色
			color: {
				type: String,
				default: '#fff'
			},
			// 返回图标颜色
			blackColor: {
				type: String,
				default: '#000'
			},
			whiteColor: {
				type: String,
				default: '#fff'
			},
			// 右侧文字颜色
			rightextColor: {
				type: String,
				default: '#000'
			},
			// 是否有右侧图片
			isRight: {
				type: Boolean,
				default: false
			},
			// 是否有右侧文字
			isRightext: {
				type: Boolean,
				default: false
			},
			// 右侧文字内容
			rightText: {
				type: String,
				default: '设置'
			},
			// 右侧图片路径
			righturl: {
				type: String,
				default: '/static/logo.png'
			},
			// 宽度
			rightWidth: {
				type: String,
				default: '38'
			},
			// 高度
			rightHeight: {
				type: String,
				default: '38'
			},
			// 导航背景色
			background: {
				type: String,
				default: 'transparent'
			},
			isGoback: {
				type: Boolean,
				default: true
			},
			black: {
				type: Boolean,
				default: true
			}
		},
		data() {
			return {
				statusBar: uni.getSystemInfoSync().statusBarHeight,
			}
		},
		methods: {
			Jump() {
				this.$emit('Jump')
			},
			goBack() {
				if (!this.isGoback) {
					uni.switchTab({
						url: '/pages/index/index'
					})
				} else {
					this.router.goBack()
				}
			}
		}
	}
</script>

<style scoped>
	.relative-fix1 {
		position: absolute;
		top: 0;
		    flex-direction: row;
		    align-items: center;
		    color: #fff;
		    position: relative;
		    z-index: 1000;
		z-index: 1010;
		
	}
	.relative{
		position: relative;
	}
	.midetitle{
		font-size: 16px;
		font-weight: 700;
	}
	.midetitle
	{
		width: 100%;
	}
	.midetitle span
	{
		color: #fff;
	}
	
</style>
