<template> 
    <view class="bj-black heigh-fullscreen"> 
		<myNav :title="$t('asset2')" class="padding20px"></myNav>
	

		<view @click="router.push('/pages/assets/setting/lang')">
					<view class="section-tag-asset"></view>
					<u-cell :title="$t('asset22')" isLink >
						<text slot="value" class="u-slot-value color-white"></text>
					</u-cell>
		</view>
			    <view @click="router.push('/pages/assets/setting/exchange-rate')">
					<view class="section-tag-asset"></view>
					<u-cell :title="$t('asset23')" isLink >
						 <text slot="value" class="u-slot-value"></text>
					</u-cell>
				</view>
				<view @click="router.push('/pages/assets/setting/setting-password')">
					<view class="section-tag-asset"></view>
					<u-cell :title="$t('asset24')" isLink >
						 <text slot="value" class="u-slot-value"></text>
					</u-cell>
				</view>
				<view @click="router.push('/pages/assets/setting/info')">
					<view class="section-tag-asset"></view>
					<u-cell :title="$t('asset25')" isLink >
						 <text slot="value" class="u-slot-value"></text>
					</u-cell>
				</view>
	</view>

</template>
<script></script>
	<style lang="css">
		.section-tag-asset
		{
		width: 5px;
		height: 5px;
		background: #edcd52;
		border-radius: 50%;
		margin: 20px 0px 0px 20px;
		float: left
		}
		.padding20px
		{
			padding-bottom:20px ;
		}
	</style>
