<template>
	<view class="heigh-fullscreen">
		<myNav :title="$t('asset25')"></myNav>
			<view class="flex align-center justify-between padding-w-40 padding-row avatar">
				<view  style="width: 100%;" class="flex direction-column align-center justify-center avatar_content">
					<view class="u-page__upload-item">
						<u-upload
							:fileList="fileList6"
							@afterRead="afterRead"
							@delete="deletePic"
							name="6"
							multiple
							:maxCount="1"
							width="30"
							height="30"
						>
							<image src="/static/imgs/asset/profile.png" mode="widthFix" style="width: 104px;height: 104px;"></image>
						</u-upload>
					</view>
				</view>
			</view>
	
		<view class="background-asset-info content_body"> 
			<view class="flex align-center justify-between padding-w-40 bj-profile ">
				<view  class="flex direction-column color-888">
					ID
				</view>
				<view class="flex direction-column color-888">
					<view class="color-ccc">1231231</view>
				</view>
			</view>
			<view class="flex align-center justify-between padding-w-40 bj-profile">
				<view class="flex direction-colum color-888">
					Username
				</view>
				<view class="flex direction-column">
					<view class="color-ccc">vanhengsun</view>
				</view>
			</view>
			<view class="flex align-center justify-between padding-w-40 bj-profile">
				<view class="flex direction-column color-888">
					Phone Number
				</view>
				<view class="flex direction-column">
					<view class="color-ccc">01037555</view>
				</view>
			</view>
			<view class="flex align-center justify-between padding-w-40 bj-profile">
				<view class="flex direction-column color-888">
					Invitation Code
				</view>
				<view class="flex direction-column">
					<view class="color-ccc">NGOWGG</view>
				</view>
			</view>
			<view class="background-asset-info margin-t-20">
				<view class="flex align-center justify-between padding-w-40 bj-profile">
					<view class="flex direction-column color-888">
						Nickname
					</view>
					<view class="flex direction-column">
						<view class="color-ccc">hengsun</view>
					</view>
				</view>
				<view class="flex align-center justify-between padding-w-40 bj-profile">
					<view class="flex direction-column color-888">
						Email
					</view>
					<view class="flex direction-column">
						<input type="text" name="Email" placeholder="Please enter your email" class="van-field__control">
					</view>
				</view>
				
			</view>
		</view>
			 
			
			<view class="padding-w-75 height-230 flex direction-column justify-between">
						<button @click="submit" type="default" class="cu-btn loginBtn" style="
			background: linear-gradient(269deg, #efb601 0%, #efb601 100%);color: #000;font-weight: 500;font-size: 16px;">{{$t('asset32')}}</button>
						
					</view> 
			 	 
	</view>
</template>

<script>
	export default {
		data() {
			return {
				id:'',
				username:'',
				phone:'',
				code:'',
				nick:'',
				email:'',
				fileList1: [],
				fileList2: [],
				fileList3: [{
					url: 'https://cdn.uviewui.com/uview/swiper/1.jpg',
				}],
				fileList4: [{
						url: 'https://cdn.uviewui.com/uview/swiper/1.jpg',
					},
					{
						url: 'https://cdn.uviewui.com/uview/swiper/1.jpg',
					}
				],
				fileList5: [],
				fileList6: [],
				fileList7: [],
				
			}
		},
		onLoad() {
		},
		methods: {
			// 删除图片
			deletePic(event) {
				this[`fileList${event.name}`].splice(event.index, 1)
			},
			// 新增图片
			async afterRead(event) {
				// 当设置 mutiple 为 true 时, file 为数组格式，否则为对象格式
				let lists = [].concat(event.file)
				let fileListLen = this[`fileList${event.name}`].length
				lists.map((item) => {
					this[`fileList${event.name}`].push({
						...item,
						status: 'uploading',
						message: '上传中'
					})
				})
				for (let i = 0; i < lists.length; i++) {
					const result = await this.uploadFilePromise(lists[i].url)
					let item = this[`fileList${event.name}`][fileListLen]
					this[`fileList${event.name}`].splice(fileListLen, 1, Object.assign(item, {
						status: 'success',
						message: '',
						url: result
					}))
					fileListLen++
				}
			},
			uploadFilePromise(url) {
				return new Promise((resolve, reject) => {
					let a = uni.uploadFile({
						url: 'http://www.example.com/upload', // 仅为示例，非真实的接口地址
						filePath: url,
						name: 'file',
						formData: {
							user: 'test'
						},
						success: (res) => {
							setTimeout(() => {
								resolve(res.data.data)
							}, 1000)
						}
					});
				})
			},
		},
	}
</script>

<style lang="scss">
	.u-page {
		&__upload-item{
			margin-top:5px;
		}
	}
	.bj-profile{
		    background-color: #2a2a2a;
		    padding: 15px 16px;
		
	}
	input{
		color:#fff;
		
	}
	.loginBtn{
		width: 600rpx;
		height: 96rpx;
		border-radius: 10upx;
		box-shadow: 0rpx 4rpx 30rpx 1rpx rgba(244, 138, 169, 0.2);
		font-size: 28rpx;
	}
	</style>