<template>
	<view class="heigh-fullscreen">
			 <myNav :title="$t('asset22')"></myNav>
			
			<view class="justify-between padding-w-40 padding-row ">
				<view class="uni-list">
										<radio-group @change="radioChange">
											<label class="uni-list-cell uni-list-cell-pd" v-for="(item, index) in items" :key="item.value">
												<view class="flex-row-between amount-bank">
													<!-- <view style="width: 15%;" class="flex direction-column"><image :src="item.src" class="width-40 height-40"></image></view> -->
													<view class="flex direction-column color-white">{{item.name}}	</view>	
													<view class="flex-row-between direction-column"><radio :value="item.value" :checked="index === current" /></view>
												</view>
										
											</label>
										</radio-group>
									</view>
				
				</view>
				
	</view>
</template>

 <script>
	export default{
		data(){
			return{
				items: [{
							value: 'English',
							name: 'English',
							src: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/fa7b4cd2c6f743dea1e0e7fdf5569180',
							checked: 'true'
						},
						{
							value: '中文简体',
							src: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/fa7b4cd2c6f743dea1e0e7fdf5569180',
							name: '中文简体'
						},
						{
							value: '中文繁體',
							src: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/d284671f209f4489a624ce6d92b9fba8',
							name: '中文繁體'
						},
						{
							value: 'বাংলা',
							src: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/d284671f209f4489a624ce6d92b9fba8',
							name: 'বাংলা'
						},
						{
							value: 'Perú',
							src: 'https://pcft023.sgp1.digitaloceanspaces.com/oai/images/d284671f209f4489a624ce6d92b9fba8',
							name: 'Perú'
						},
					],
					current: 0
								    
			}
		
		},
		methods: {
				radioChange: function(evt) {
										for (let i = 0; i < this.items.length; i++) {
											if (this.items[i].value === evt.detail.value) {
												this.current = i;
												break;
											}
										}
									},
		},
		onShow() {
			this.content= this.list[0]
		},
		
	}
 </script>
 
<style scoped>
	 .padding-w-75 
	 {
		 margin-top: 20px;
		 margin-bottom: 20px;
	 }
	 .margin-bottom-10{
		 margin-bottom: 10px;
	 }
	 .othertext
	 {
		     position: relative;
		     top: 6px;
		     left: 8px;
	 }
	 .color-888
	 {
		 color: #888;
	 }
	 .nav
	 {
		 height: 100rpx;
		 displasy: flex;
		 align-items: center;
		 justify-content: space-around;
		 background-color:rgba(0,0,0, .8);
		 font-size:30rpx;
		 color:orange;
		 letter-spacing: 2.14rpx;
	 }
	/* .nav-list
	 {
		 width 65rpx;
		 height: 100%;
		 margin-top: 40rpx;
		 opacity: .9;
	 } */
	 .nav-list .name
	 {
		 color: red;
	 }
	 .nav-list .line
	 {
		 margin-top: 10rpx;
		 width: 65rpx;
		 height: 4rpx;
		 background-color: red;
		 
	 }
	 .content
	 {
		 margin-top: 40rpx;
	 }
	 .amount-item
	 {
		    border-radius: 3px;
		    background-color: #fff;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    text-align: center;
		    margin: 7px 7px;
		    padding-top: 8px;
		    padding-bottom: 8px;
		    width: 29%;
			float: left;
		
		 
	 }
	 .topBox
	 {
	 	width: 670rpx;
	 	padding: 0 0 0 42rpx;
	 	margin: 20rpx auto 24rpx;
	 	height: 240rpx;
	 	border-radius: 40rpx;
	 	box-shadow: -10rpx 20rpx 50rpx 1rpx rgba(243, 161, 185, 0.3);
	 	background-repeat: repeat;
	 	background-size: 100% 100%;
	 }
	 .codeBox
	 {
	 	// width: 150rpx;
	 	padding: 0 18rpx;
	 	height: 60rpx;
	 	background: linear-gradient(180deg, #FF97A9 0%, #FF668E 100%);
	 	border-radius: 16rpx;
	 	line-height: 60rpx;
	 	font-size: 26rpx;
	 	color: #FFFFFF;
	 }
	 .loginBtn
	 {
	 	width: 600rpx;
	 	height: 96rpx;
	 	border-radius: 5px;
	 	box-shadow: 0rpx 4rpx 30rpx 1rpx rgba(244, 138, 169, 0.2);
	 }
	 .trading-info
	 {
		     border-radius: 5px;
		     background: #2a2a2a;
	 }
	 .fontsize-23
	 {
		 font-size: 23px;
	 }
	 .amount-input
	 {
		     display: flex;
		     flex: 1;
		     padding: 10px 15px;
		     flex-direction: row;
		     justify-content: space-between;
		     align-items: center;
		     background: #171717;
		     border-radius: 5px;
	 }
	 .content-input 
	 {
		     width: 100%;
		     text-align: left;
		 
	 }
	 input
	 {
		 color: #fff;
	 }
	 .padding-w-35
	 {
		 padding-left:15px;
		 padding-right:15px;
	 }
	 .uni-list,uni-radio-group
	 {
		 background-color: #2a2a2a;
		 width: 100%;
	 }
	 .amount-bank
	 {
		width: 100%;
		padding: 15px 15px;
		overflow: hidden;
		color: #323233;
		font-size: 14px;
		line-height: 24px;
		border-bottom: 1px solid #ffffff4f;
	 }
	 .other-text-color-3
	 {
		color: #59b482;
		width: 375px;
	 }
	 .color-59b482{
		 	color: #59b482;
	 }
	 .border-bottom-custom{
		     display: flex;
		     align-items: center;
		     margin: 16px 0;
		     border-bottom:1px solid #969799;
		    
	 }
	 .uni-radio-input 
	 {
		 background: #000;
	 }
</style>