<template>
    <view class="bj-black heigh-fullscreen"> 
	 <myNav :title="$t('asset24')"></myNav>
	  <form @submit="formSubmit">
		<view class="flex align-center justify-between padding-w-40 padding-row">	
			<view style="width: 100%;" class=" border-bottom-custom flex align-center justify-between">
				<view class="flex direction-column align-left justify-left text-align-left width-100percent">
					<label class="color-white fontsize-16 ">{{$t('asset26')}}</label>
					<view  class="input-acc">
						<view class="input-item">
							<input type="password" v-if="isShow" :placeholder="$t('asset27')" placeholder-style="color:#808080" @input="hidePassword" :value="oldpassword" maxlength="16" />
							<input type="text" v-else :placeholder="$t('asset27')" placeholder-style="color:#808080" @input="password" :value="oldpassword" maxlength="16" />
						</view>
					  
					</view>
				</view>
	          
	            <view  class="see flex direction-column align-center justify-center">
	                <image :src="isShow?'../../../static/imgs/asset/noopen.png':'../../../static/imgs/asset/openeye.png'" @tap="showPassword" mode="aspectFit" style="width:40rpx;height:40rpx"></image>
			   </view>
		 </view>
		
		
	</view>
		<view class="flex align-center justify-between padding-w-40 padding-row">
			<view style="width: 100%;" class=" border-bottom-custom flex align-center justify-between">
				<view class="flex direction-column align-left justify-left text-align-left width-100percent">
					<label class="color-white fontsize-16 ">{{$t('asset28')}}</label>
					<view  class="input-acc">
						<view class="input-item">
							<input type="password" v-if="isShownew" :placeholder="$t('asset29')" placeholder-style="color:#808080" @input="hidenewPassword" :value="newpassword" maxlength="16" />
							<input type="text" v-else :placeholder="$t('asset29')" placeholder-style="color:#808080" @input="newpassword" :value="newpassword" maxlength="16" />
						</view>
					  
					</view>
				</view>
	          
	            <view  class="see flex direction-column align-center justify-center">
	                <image :src="isShownew?'../../../static/imgs/asset/noopen.png':'../../../static/imgs/asset/openeye.png'" @tap="shownewPassword" mode="aspectFit" style="width:40rpx;height:40rpx"></image>
			   </view>
		 </view>
		
		
	</view>
		<view class="flex align-center justify-between padding-w-40 padding-row">
			<view style="width: 100%;" class=" border-bottom-custom flex align-center justify-between">
				<view class="flex direction-column align-left justify-left text-align-left width-100percent">
					<label class="color-white fontsize-16 ">{{$t('asset30')}}</label>
					<view  class="input-acc">
						<view class="input-item">
							<input type="password" v-if="isShowconfirm" :placeholder="$t('asset31')" placeholder-style="color:#808080" @input="hideconPassword" :value="confirm" maxlength="16" />
							<input type="text" v-else :placeholder="$t('asset31')" placeholder-style="color:#808080" @input="conpassword" :value="confirm" maxlength="16" />
						</view>
					  
					</view>
				</view>
	          
	            <view  class="see flex direction-column align-center justify-center">
	                <image :src="isShowconfirm?'../../../static/imgs/asset/noopen.png':'../../../static/imgs/asset/openeye.png'" @tap="showconPassword" mode="aspectFit" style="width:40rpx;height:40rpx"></image>
			   </view>
		 </view>
		
		
	</view>
		<view class="uni-btn-v">
			<button form-type="submit">{{$t('asset32')}}</button>
		</view>
	</form>
	</view>
</template>

<script>
		export default {
			data() {
				return {
                isShow: true,
				isShownew: true,
				isShowconfirm: true,
                inputType: "password",
                password: "",
				inputType: "newpassword",
				newpassword: "",
				inputType: "conpassword",
				conpassword: "",

				}
			},
			methods: {
				//enter old password
				            password(e){
				                this.password = e.detail.value;
				                // this.$apply();
				            },
				            //enter password
				            hidePassword(e){
				                this.password = e.detail.value;
				                // this.$apply();
				            },
				            // Click the little eye icon to switch
				            showPassword(){
				                if(this.isShow){
				                    this.isShow = false;
				                    this.inputType = "text";
				                    this.$apply();
				                }else{
				                    this.isShow = true;
				                    this.inputType = "password";
				                    this.$apply();
				                }
				},
				//enter  new password
				            newpassword(e){
				                this.newpassword = e.detail.value;
				                // this.$apply();
				            },
				            //enter password
				            hidenewPassword(e){
				                this.newpassword = e.detail.value;
				                // this.$apply();
				            },
				            // Click the little eye icon to switch
				            shownewPassword(){
				                if(this.isShownew){
				                    this.isShownew = false;
				                    this.inputType = "text";
				                    this.$apply();
				                }else{
				                    this.isShownew = true;
				                    this.inputType = "newpassword";
				                    this.$apply();
				                }
				},
				//enter confirm password
				            conpassword(e){
				                this.conpassword = e.detail.value;
				                // this.$apply();
				            },
				            //enter password
				            hideconPassword(e){
				                this.conpassword = e.detail.value;
				                // this.$apply();
				            },
				            // Click the little eye icon to switch
				            showconPassword(){
				                if(this.isShowconfirm){
				                    this.isShowconfirm = false;
				                    this.inputType = "text";
				                    this.$apply();
				                }else{
				                    this.isShowconfirm = true;
				                    this.inputType = "conpassword";
				                    this.$apply();
				                }
				}
			}
		}
</script>

<style>
	.input{
	    margin: 20rpx;
	}
	.input .input-item{
	    display: flex;
	    color: #FFFFFF;
	    padding: 20rpx;
	    border-bottom: 1rpx solid #e5e5e5;
	    margin-top: 50rpx;
	}
	.input .input-item .img{
	    margin-right: 30rpx;
	}
	.input .input-item .img image{
	    width: 46rpx;
	    height: 46rpx;
	    
	}
	.input .input-item .input-acc{
	    width: 100%;
	}
	
	.input .input-item .icon image{
	    width: 40rpx;
	    height: 40rpx;
	    /* float: right; */
	}
	.see{
		padding-top: 22px;
		    padding-bottom: 0px;
		    padding-right: 0px;
		
	}
	.input-acc{
		    padding: 15px 10px;
	}
	.border-bottom-custom{
		    border-bottom: 0.5px solid hsla(0,0%,100%,.2);
	}
	.uni-input-placeholder
	{
		font-size: 15px;
	}
	uni-button {
	    position: relative;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: 16px;
	    padding-right: 16px;
	    box-sizing: border-box;
	    font-size: 16px;
	    text-align: center;
	    text-decoration: none;
	    line-height: 3em;
	    border-radius: 5px;
	    -webkit-tap-highlight-color: transparent;
	    overflow: hidden;
	    color: #000;
	    background-color: #edcd52;
	    cursor: pointer;
		max-width: 80%;
		background-color: #edcd52;
		margin: auto;
		border-radius: 7px;
		margin-top: 20px;

	}
</style>