<template>
	<view class="bj-black heigh-fullscreen">
			<view class="relative" :style="{height: `calc(${statusBar}px + 44px)`}">
				<view class="width-100b fixed1 bj-black flex align-center justify-between padding-w-40 empty-space"
					:style="{paddingTop: statusBar + 'px', height: `calc(${statusBar}px + 65px)`}">
			
						<view class="width-100percent align-center justify-center">
							<span class="color-white fontsize-16">{{$t('Market')}}</span> 
						</view>			
				</view>
			</view>
			<view style="padding-top: 30px;" class="flex align-center justify-between padding-marketing-row bj-black">
			<view class="wrapper">
				   <view class="item">
					 <u-image width="72" height="20" src="/static/imgs/makert/binance.png"></u-image>
				   </view>
				   <view class="item">
					 <u-image width="72" height="20" src="/static/imgs/makert/bitfinex.png"></u-image>
				   </view>
				  <view class="item">
					 <u-image width="72" height="20" src="/static/imgs/makert/coinbase.png"></u-image>
				   </view>
				   <view class="item">
						<u-image width="72" height="20" src="/static/imgs/makert/ff3889824e294c99abbd7e65f80a91ec.png"></u-image>
					</view>
					<view class="item">
						 <u-image width="72" height="20" src="/static/imgs/makert/gate.io.png"></u-image>
					</view>
					<view class="item">
						 <u-image width="72" height="20" src="/static/imgs/makert/imtoken.png"></u-image>
					 </view>
					 <view class="item">
						<u-image width="72" height="20" src="/static/imgs/makert/poloniex.png"></u-image>
					 </view>
							  
			</view>
			</view>
            <view style="padding: 0px 20px 0px 20px;" class="devide-border "><hr></view>
			<view style="padding-right: 20px;padding-bottom: 10px;" class="flex align-center justify-between padding-marketing-tracking bj-black" v-for="(item,index) in cionlist" :key="index">
			     
					 <view style="width: 33.33%;text-align: left;" class="flex direction-column align-left justify-center">
					 		<view class="crypto-name">
					 		    <span class="color-white fontsize-16">{{item.name}}</span>
					 		</view>
					 </view>
					 				
					 <view style="width:33.33%;text-align: left;" class="flex direction-column align-left justify-left">
					 	<text :class="item.increase>0?'color-45CB6B':'color-F95D43'" class="font-28 bold-font">{{item.usdt}}</text>
				     </view>
					 <view style="width: 33.33%;text-align: right; " class="flex direction-column align-left justify-left">
					 	<button style="margin-right: 0px;font-size: 14px;" :class="item.increase>0?'color-45CB6B-background':'color-F95D43-background'">{{(item.increase*100 ).toFixed(2)}}%</button>
					 </view>
					
			</view>
	
			
			
	</view>
</template>

<script>
		export default {
		
			data() {
				return {
					show:false,
					content:'',
					
					statusBar: uni.getSystemInfoSync().statusBarHeight,
					text1: '',
					cionlist:[],
					
					count_trx:0,
					count_yj:0,
					count_user:0,
					
						   
				}
				
			},
			onLoad() {
				this.get_agreement()
			},
			onShow() {
				uni.setTabBarItem({
					index: 0,
					text: this.$t('tabBar1')
				});
				uni.setTabBarItem({
					index: 1,
					text: this.$t('tabBar2')
				});
				uni.setTabBarItem({
					index: 2,
					text: this.$t('tabBar3')
				});
				uni.setTabBarItem({
					index: 3,
					text: this.$t('tabBar4')
				});
				this.show = true
				this.int()
				this.get_hot_coin()
			},
			methods: {
				get_agreement(){
					this.post('/publics/text_info').then((res) => {
						console.log('',res)
						if (res.code == 1) {
							this.content = res.data.index_wind
						}
					})
				},
				int(){
					this.post('/index/index_wallet').then((res) => {
						if (res.code == 1) {
							this.text1 = res.data.message.title
							this.count_trx = res.data.count_trx
							this.count_yj = res.data.count_yj
							this.count_user = res.data.count_user
							this.guanyu_us = res.data.guanyu_us
						}
					})
				},
				get_hot_coin(){
					this.post('/index/get_hot_coin').then((res) => {
						if (res.code == 1) {
							this.cionlist = res.data
						}
					})
				},
				logout(){
					uni.showLoading()
					this.post('/user/logout').then((res) => {
						uni.hideLoading()
						if (res.code == 1) {
							uni.removeStorageSync('token');
							uni.removeStorageSync('userinfo');
							this.tos(res.msg)
							setTimeout(() => {
								uni.reLaunch({
									url: '/pages/login/index'
								})
							}, 500)
						}
					})
				}
			}
		}

</script>

<style lang="css">
	
	
	.fixed1 {
	    position: fixed;
	    top: -2px!important;
	    z-index: 10010;
	    padding-bottom: 15px;
		background-color: #171717;
	}
	.scroll-list {
		@include flex(column);
	
		&__goods-item {
			margin-right: 20px;
	
			&__image {
				width: 60px;
				height: 60px;
				border-radius: 4px;
			}
	
			&__text {
				color: #f56c6c;
				text-align: center;
				font-size: 12px;
				margin-top: 5px;
			}
		}
	
		&__show-more {
			background-color: #fff0f0;
			border-radius: 3px;
			padding: 3px 6px;
			@include flex(column);
			align-items: center;
	
			&__text {
				font-size: 12px;
				width: 12px;
				color: #f56c6c;
				line-height: 16px;
			}
		}
	}
	.wrapper {
	  width: 100%;
	  overflow-x:scroll;
	  white-space: nowrap;
	  float:left;
	  position: relative;
	}
	
	.item {
	  display: inline-block;
	  
	 
	}
	.item
	{
	   margin-right:10px!important;
	}
</style>