<template>
	<view class="heigh-fullscreen">


				  <view class="padding-w-40"><myNavcustom :title="$t('share9')" :black="true"></myNavcustom></view>
		
		<view class="content">
			<view class="width-100percent share-address border-align ">
				<view class="fontsize-16 color-white weight-bold bold-font border-align" style="">{{$t('share10')}}</view>
			</view>
		
			<view class="flex direction-column align-left justify-between">
				
				<view style="padding: 115px 0px;padding-bottom: 50px;" class="">						
					<view class="flex align-center justify-between padding-w-40">
						<view style="width: 50%;" class="flex direction-column align-left justify-center">								
								<view class="fontsize-16 color-white" style="text-align:left;">{{$t('share4')}}</view>
								   <view style="text-align:left;" class="width-580 height-96 radiu-16 bj-FAFAFA l line-height-96">
									<text class="font-36 color-white">{{referral_code}}</text>
								   </view>
									<button @click="copy(referral_code)" type="default" class="cu-btn" style="font-size: 13px; color: #000;width: 96px;height: 40px;background: #edcd52;border-radius: 8px;opacity: 1;">{{$t('share7')}}</button>
									</view>
								<view style="width: 50%;text-align: right;" class="align-right justify-right">
									<image class="width-210  height-210" src="/static/imgs/share/share_3.png" mode=""></image>
								</view>
							</view>		
						</view>
						<view style="    padding-bottom: 50px;" class="width-100percent share-address border-align ">
							<view class="fontsize-16 color-white weight-bold bold-font" style="">{{$t('share2')}}</view>
						</view>
					<view style="padding-top: 15px;
								 padding-bottom: 30px;" 
								 class="flex direction-column align-left justify-between padding-w-40">
									<view class="flex direction-column align-left justify-between">
									<text class="font-28 color-888 weight-bold bold-font">{{$t('share6')}}</text>
										<view class="width-580 radiu-16 bj-FAFAFA font-26  padding-20 text-center" style="    overflow-wrap: break-word;
													padding: 0px;
													text-align: left;
													color: #edcd52;
													width: 100%;
													padding: 15px 0px;padding-bottom: 0px;">{{lianjieurl}}</view>
										<text class="font-28 color-888 weight-bold bold-font">{{$t('share8')}}</text>
									<button @click="copy(lianjieurl)" type="default" class="cu-btn" style="    font-size: 13px;
									color: #000;
									width: 80%;
									height: 40px;
									background: rgb(237, 205, 82);
									border-radius: 6px;
									opacity: 1;
									margin: auto;margin-top: 20px;">{{$t('share5')}}</button>
							
							
										</view>
								</view>
						</view>
			
		</view>
		
	</view>
</template>

<script>
	import clipboard from "@/components/copy/clipboard.js"
	export default {
		data() {
			return {
				referral_code:'NBV8PPE9',
				qrcode:'',
				lianjieurl:'https://yanyan-ai.com/#/pages/user/reg?code=NBV8PPE9',
			}
		},
		onLoad() {
			this.int()
		},
		methods: {
			int(){
				this.post('/my/get_share').then(res => {
					if (res.code == 1) {
						this.qrcode = res.data.qrcode
						this.referral_code = res.data.referral_code
						this.lianjieurl = res.data.url
					}
				})
			},
			// 复制地址
			copy(data) {
				// #ifndef H5
				clipboard.setText(data);
				// #endif
				// #ifdef H5 
					  let result
				      let textarea = document.createElement("textarea")
				      textarea.value = data
				      textarea.readOnly = "readOnly"
				      document.body.appendChild(textarea)
				      textarea.select() // 选中文本内容
				      textarea.setSelectionRange(0, data.length) 
				      result = document.execCommand("copy") 
				      textarea.remove()    
				// #endif
				
				this.tos(this.$t('succee'))
			},
		}
	}
</script>


<style scoped>
	.content{
		    position: absolute;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    background-image: url(/../../static/imgs/index/share-bg.59658ae9.png);
		    background-size: 100% 100%;
			padding-top: 80px;
	}
	.van-divider--content-center::before, .van-divider--content-left::before, .van-divider--content-right::before {
	    margin-right: 16px;
	}
	.van-divider--hairline::before, .van-divider--hairline::after {
	    -webkit-transform: scaleY(.5);
	    transform: scaleY(.5);
	}
	.van-divider::before {
	    content: "";
	}
	.van-divider::before, .van-divider::after {
	    display: block;
	    flex: 1;
	    box-sizing: border-box;
	    height: 1px;
	    border-color: inherit;
	    border-style: inherit;
	    border-width: 1px 0 0;
	}
	.van-divider--content-center::after, .van-divider--content-left::after, .van-divider--content-right::after {
	    margin-left: 16px;
	    content: "";
	}
	.van-divider--hairline::before, .van-divider--hairline::after {
	    -webkit-transform: scaleY(.5);
	    transform: scaleY(.5);
	}
	.van-divider::before, .van-divider::after {
	    display: block;
	    flex: 1;
	    box-sizing: border-box;
	    height: 1px;
	    border-color: inherit;
	    border-style: inherit;
	    border-width: 1px 0 0;
	}
	.color-888{
		color: #888;
	}
	.cu-btn
	{
		color: #000;
	}
	.color-black
	{
		color: #000;
	}
</style>