<template>
	<view class="bj-black heigh-fullscreen">
	<myNav :title="$t('share1')" :black="false"></myNav>

		<view class="shareBox flex direction-column align-left justify-between ">
			<view class="padding-30 share-content-wrapper">
				<view class="color-white">
					<p>
						Introduction to Quantitative Trading
						1. Introduction to quantitative trading 
					</p>
					<p>Introduction to Quantitative Trading</p>
					    <p><br /></p>
					    <p>1. Introduction to quantitative trading</p>
					    <p><br /></p>
					    <p>Quantitative trading is based on mathematical models, based on historical data, using mathematical modeling, statistical analysis, and programming as tools. Probabilistic profitable events to develop trading strategies.</p>
					    <p><br /></p>
					    <p>2. Characteristics of quantitative trading</p>
					    <p><br /></p>
					    <p>(1) Discipline. Quantitative investment decisions are made based on models, which are simulated and tested thousands of times to achieve high fault tolerance.</p>
					    <p><br /></p>
					    <p>
					        (2) Systematic. Quantitative transaction data analysis has a very comprehensive data evaluation system, which will consider the market from many aspects, such as: macro cycle, digital currency valuation, turnover rate, profitability
					        quality, market sentiment, etc.
					    </p>
					    <p><br /></p>
					    <p>(3) Probability. Through the model combined with mathematical methods, we can calculate under what circumstances the profit rate is the highest, and appropriate positions can be added.</p>
					    <p><br /></p>
					    <p>(4) Arbitrage thinking. An economy that uses mathematical analysis combined with computer technology to find valuation depressions, sell high and buy low, earn the difference in the middle, and gain profits.</p>
					    <p><br /></p>
					    <p>3. The advantages of quantitative trading</p>
					    <p><br /></p>
					    <p>
					        (1) The investment performance is stable and the drawdown is low. Quantitative trading continuously mines and exploits historical patterns from historical data that are expected to repeat in the future; quantitative trading relies
					        on a group of stocks to win, not one or a few stocks.
					    </p>
					    <p><br /></p>
					    <p>
					        (2) It can overcome the weakness of human nature and realize rational investment. Helps investors stay rational in situations that are prone to irrationality; thus being able to seize the moment when the market is overreacting and
					        irrational.
					    </p>
					    <p><br /></p>
				</view>
			</view>
		</view>
			<view class="flex direction-column align-left justify-between">
				<view class="width-100percent share-address ">
					<text class="fontsize-16 color-white weight-bold bold-font border-align" style="">{{$t('share2')}}</text>
				</view>
				<view style="padding: 15px 0px;" class="">						
					<view class="flex align-center justify-between padding-w-40">
						<view style="width: 50%;" class="flex direction-column align-left justify-center">								
							<text class="fontsize-16 color-white" style="text-align:left;">{{$t('share4')}}</text>
								   <view style="text-align:left;" class="width-580 height-96 radiu-16 bj-FAFAFA l line-height-96">
									<text class="font-36 color-white">{{referral_code}}</text>
								   </view>
								   <button @click="copy(referral_code)" type="default" class="cu-btn" style="font-size: 13px; color: #000;width: 96px;height: 40px;background: #edcd52;border-radius: 10upx;opacity: 1;">{{$t('share7')}}</button>
							</view>
								<view style="width: 50%;text-align: right;" class="align-right justify-right">
									<image class="width-210  height-210" src="/static/imgs/share/share_3.png" mode=""></image>
								</view>
							</view>		
						</view>
					<view style="padding-top: 15px;
								 padding-bottom: 30px;" 
								 class="flex direction-column align-left justify-between padding-w-40">
									<view class="flex direction-column align-left justify-between">
									<text class="font-28 color-888 weight-bold bold-font">{{$t('share6')}}</text>
										<view class="width-580 radiu-16 bj-FAFAFA font-26  padding-20 text-center" style="    overflow-wrap: break-word;
													padding: 0px;
													text-align: left;
													color: #edcd52;
													width: 100%;
													padding: 15px 0px;padding-bottom: 0px;">{{lianjieurl}}</view>
										<text class="font-28 color-888 weight-bold bold-font">{{$t('share8')}}</text>
									<button @click="copy(lianjieurl)" type="default" class="cu-btn" style="    font-size: 13px;
									color: #000;
									width: 80%;
									height: 40px;
									background: rgb(237, 205, 82);
									border-radius: 10upx;
									opacity: 1;
									margin: auto;margin-top: 20px;">{{$t('share5')}}</button>
							
							
										</view>
								</view>
						</view>

				</view>
			</template>

<script>
	import clipboard from "@/components/copy/clipboard.js"
	export default {
		data() {
			return {
				referral_code:'NBV8PPE9',
				qrcode:'',
				lianjieurl:'https://yanyan-ai.com/#/pages/user/reg?code=NBV8PPE9',
			}
		},
		onLoad() {
			this.int()
		},
		methods: {
			int(){
				this.post('/my/get_share').then(res => {
					if (res.code == 1) {
						this.qrcode = res.data.qrcode
						this.referral_code = res.data.referral_code
						this.lianjieurl = res.data.url
					}
				})
			},
			// 复制地址
			copy(data) {
				// #ifndef H5
				clipboard.setText(data);
				// #endif
				// #ifdef H5 
					  let result
				      let textarea = document.createElement("textarea")
				      textarea.value = data
				      textarea.readOnly = "readOnly"
				      document.body.appendChild(textarea)
				      textarea.select() // 选中文本内容
				      textarea.setSelectionRange(0, data.length) 
				      result = document.execCommand("copy") 
				      textarea.remove()    
				// #endif
				
				this.tos(this.$t('succee'))
			},
		}
	}
</script>

<style lang="scss">
	.fixed1 {
	    position: fixed;
	    top: -2px!important;
	    z-index: 10010;
	    padding-bottom: 15px;
		background-color: #171717!important;
	}
	.shareBox {
		width: 670rpx;
		height: auto;
		margin: 40rpx auto;
		padding-top: 40rpx;
		border-radius: 48rpx;
		background: #2a2c2e;
		border-radius: 10upx;
	}
	.fixed1 {
		position: fixed;
		top: 0rpx;
		z-index: 10010;
	}
	.color-888{
		color: #888;
	}
	.color-black
	{
		color: #000;
	}
</style>
